@{
  TempData.Keep();

  string? currentPage = ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  @* ! Hide app brand if navbar-full *@
  <div
    class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
    <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link">
      <span class="app-brand-logo demo">
        @await Html.PartialAsync("../_Partials/_Macros")
      </span>
      <span class="app-brand-text demo menu-text fw-bold">@TempData.Peek("appName")</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
      <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  @* ! Full version menu-items *@
  <ul class="menu-inner py-1">
    <!-- Dashboards -->
    <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/Dashboards")? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-smart-home"></i>
        <div data-i18n="Dashboards">داشبورد‌ها</div>
        <div class="badge bg-primary rounded-pill ms-auto">5</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/" ? " active" : "")'>
          <a asp-controller="Dashboards" asp-action="Index" class="menu-link">
            <div data-i18n="Analytics">آمار و گزارشات</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Dashboards/CRM" ? " active" : "")'>
          <a asp-controller="Dashboards" asp-action="CRM" class="menu-link">
            <div data-i18n="CRM">ارتباط با مشتری (CRM)</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ecommerce/Dashboard" ? " active" : "")'>
          <a asp-controller="Ecommerce" asp-action="Dashboard" class="menu-link">
            <div data-i18n="eCommerce">تجارت الکترونیک</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Logistics/Dashboard" ? " active" : "")'>
          <a asp-controller="Logistics" asp-action="Dashboard" class="menu-link">
            <div data-i18n="Logistics">حمل و نقل</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Academy/Dashboard" ? " active" : "")'>
          <a asp-controller="Academy" asp-action="Dashboard" class="menu-link">
            <div data-i18n="Academy">آکادمی</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Layouts -->
    <li class='menu-item@(currentPage.StartsWith("/LayoutExamples") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-layout-sidebar"></i>
        <div data-i18n="Layouts">طرح‌ها</div>
      </a>

      <ul class="menu-sub">

        <li class='menu-item@(currentPage == "/LayoutExamples/CollapsedMenu" ? " active" : "")'>
          <a asp-controller="LayoutExamples" asp-action="CollapsedMenu" class="menu-link">
            <div data-i18n="Collapsed menu">منو جمع شده</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/LayoutExamples/ContentNavbar" ? " active" : "")'>
          <a asp-controller="LayoutExamples" asp-action="ContentNavbar" class="menu-link">
            <div data-i18n="Content navbar">نوار ناوبری محتوا</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/LayoutExamples/ContentNavbarWithSidebar" ? " active" : "")'>
          <a asp-controller="LayoutExamples" asp-action="ContentNavbarWithSidebar" class="menu-link">
            <div data-i18n="Content nav + Sidebar">ناوبری محتوا + سایدبار</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/LayoutExamples/HorizontalMenu" ? " active" : "")'>
          <a asp-controller="LayoutExamples" asp-action="HorizontalMenu" class="menu-link" target="_blank">
            <div data-i18n="Horizontal">منو افقی</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/LayoutExamples/WithoutMenu" ? " active" : "")'>
          <a asp-controller="LayoutExamples" asp-action="WithoutMenu" class="menu-link">
            <div data-i18n="Without menu">بدون منو</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/LayoutExamples/WithoutNavbar" ? " active" : "")'>
          <a asp-controller="LayoutExamples" asp-action="WithoutNavbar" class="menu-link">
            <div data-i18n="Without navbar">بدون نوار ناوبری</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/LayoutExamples/Fluid" ? " active" : "")'>
          <a asp-controller="LayoutExamples" asp-action="Fluid" class="menu-link">
            <div data-i18n="Fluid">محتوای تمام عرض</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/LayoutExamples/Container" ? " active" : "")'>
          <a asp-controller="LayoutExamples" asp-action="Container" class="menu-link">
            <div data-i18n="Container">دربرگیرنده</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/LayoutExamples/Blank" ? " active" : "")'>
          <a asp-controller="LayoutExamples" asp-action="Blank" class="menu-link">
            <div data-i18n="Blank">صفحه خالی</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Front Pages -->
    <li class='menu-item@(currentPage.StartsWith("/FrontPages") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class='menu-icon tf-icons ti ti-files'></i>
        <div data-i18n="Front Pages">صفحات سایت</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/FrontPages/LandingPage" ? " active" : "")'>
          <a asp-controller="FrontPages" asp-action="LandingPage" class="menu-link" target="_blank">
            <div data-i18n="Landing">لندینگ</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/FrontPages/PricingPage" ? " active" : "")'>
          <a asp-controller="FrontPages" asp-action="PricingPage" class="menu-link" target="_blank">
            <div data-i18n="Pricing">قیمت گذاری</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/FrontPages/PaymentPage" ? " active" : "")'>
          <a asp-controller="FrontPages" asp-action="PaymentPage" class="menu-link" target="_blank">
            <div data-i18n="Payment">پرداخت</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/FrontPages/CheckoutPage" ? " active" : "")'>
          <a asp-controller="FrontPages" asp-action="CheckoutPage" class="menu-link" target="_blank">
            <div data-i18n="Checkout">ثبت سفارش</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/FrontPages/HelpCenterLanding" ? " active" : "")'>
          <a asp-controller="FrontPages" asp-action="HelpCenterLanding" class="menu-link" target="_blank">
            <div data-i18n="Help Center">مرکز پشتیبانی</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/FrontPages/HelpCenterArticle" ? " active" : "")'>
          <a asp-controller="FrontPages" asp-action="HelpCenterArticle" class="menu-link" target="_blank">
            <div data-i18n="Help Learn">صفحه آموزش</div>
          </a>
        </li>
      </ul>
    </li>

    <li class='menu-item@(currentPage.StartsWith("/Transactions") ? " active" : "")'>
      <a asp-controller="Transactions" asp-action="Index" class="menu-link">
        <i class="menu-icon tf-icons ti ti-database"></i>
        <div data-i18n="Transactions (CRUD)">تراکنش ها (CRUD)</div>
      </a>
    </li>

    <!-- Apps & Pages -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text" data-i18n="Apps & Pages">برنامه‌ها و صفحات</span>
    </li>
    <li class='menu-item@(currentPage == "/Apps/Email" ? " active" : "")'>
      <a asp-controller="Apps" asp-action="Email" class="menu-link">
        <i class="menu-icon tf-icons ti ti-mail"></i>
        <div data-i18n="Email">ایمیل</div>
      </a>
    </li>
    <li class='menu-item@(currentPage == "/Apps/Chat" ? " active" : "")'>
      <a asp-controller="Apps" asp-action="Chat" class="menu-link">
        <i class="menu-icon tf-icons ti ti-messages"></i>
        <div data-i18n="Chat">پیامرسان</div>
      </a>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Calendar") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class='menu-icon tf-icons ti ti-calendar'></i>
        <div data-i18n="Calendar">تقویم</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Calendar/Calendar" ? " active" : "")'>
          <a asp-controller="Calendar" asp-action="Calendar" class="menu-link">
            <div data-i18n="Gregorian Calendar">تقویم میلادی</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Calendar/CalendarJalali" ? " active" : "")'>
          <a asp-controller="Calendar" asp-action="CalendarJalali" class="menu-link">
            <div data-i18n="Solar Calendar">تقویم شمسی</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage == "/Apps/Kanban" ? " active" : "")'>
      <a asp-controller="Apps" asp-action="Kanban" class="menu-link">
        <i class="menu-icon tf-icons ti ti-layout-kanban"></i>
        <div data-i18n="Kanban">گردش‌کار</div>
      </a>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Ecommerce") ? " active open" : "")'>
      <a href='javascript:void(0);' class='menu-link menu-toggle'>
        <i class='menu-icon tf-icons ti ti-shopping-cart'></i>
        <div data-i18n="eCommerce">تجارت الکترونیک</div>
      </a>
      <ul class='menu-sub'>
        <li class='menu-item@(currentPage == "/Ecommerce/Dashboard" ? " active" : "")'>
          <a asp-controller='Ecommerce' asp-action='Dashboard' class="menu-link">
            <div data-i18n="Dashboard">داشبورد</div>
          </a>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Ecommerce/Product") ? " active open" : "")'>
          <a href='javascript:void(0);' class='menu-link menu-toggle'>
            <div data-i18n="Products">محصولات</div>
          </a>
          <ul class='menu-sub'>
            <li class='menu-item@(currentPage == "/Ecommerce/ProductList" ? " active" : "")'>
              <a asp-controller="Ecommerce" asp-action="ProductList" class="menu-link">
                <div data-i18n="Product List">لیست محصولات</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Ecommerce/ProductAdd" ? " active" : "")'>
              <a asp-controller="Ecommerce" asp-action="ProductAdd" class="menu-link">
                <div data-i18n="Add Product">افزودن محصول</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Ecommerce/ProductCategoryList" ? " active" : "")'>
              <a asp-controller="Ecommerce" asp-action="ProductCategoryList" class="menu-link">
                <div data-i18n="Category List">دسته‌بندی</div>
              </a>
            </li>
          </ul>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Ecommerce/Order") ? " active open" : "")'>
          <a href='javascript:void(0);' class='menu-link menu-toggle'>
            <div data-i18n="Order">سفارشات</div>
          </a>
          <ul class='menu-sub'>
            <li class='menu-item@(currentPage == "/Ecommerce/OrderList" ? " active" : "")'>
              <a asp-controller="Ecommerce" asp-action="OrderList" class="menu-link">
                <div data-i18n="Order List">لیست سفارشات</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Ecommerce/OrderDetails" ? " active" : "")'>
              <a asp-controller="Ecommerce" asp-action="OrderDetails" class="menu-link">
                <div data-i18n="Order Details">جزئیات سفارش</div>
              </a>
            </li>
          </ul>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Ecommerce/Customer") ? " active open" : "")'>
          <a href='javascript:void(0);' class='menu-link menu-toggle'>
            <div data-i18n="Customer">مشتریان</div>
          </a>
          <ul class='menu-sub'>
            <li class='menu-item@(currentPage == "/Ecommerce/CustomerAll" ? " active" : "")'>
              <a asp-controller='Ecommerce' asp-action='CustomerAll' class="menu-link">
                <div data-i18n="All Customers">لیست مشتریان</div>
              </a>
            </li>
            <li class='menu-item@(currentPage.StartsWith("/Ecommerce/CustomerDetails") ? " active open" : "")'>
              <a href='javascript:void(0);' class='menu-link menu-toggle'>
                <div data-i18n="Customer Details">نمایش مشتری</div>
              </a>
              <ul class='menu-sub'>
                <li class='menu-item@(currentPage == "/Ecommerce/CustomerDetailsOverview" ? " active" : "")'>
                  <a asp-controller='Ecommerce' asp-action='CustomerDetailsOverview' class="menu-link">
                    <div data-i18n="Overview">مرور‌کلی</div>
                  </a>
                </li>
                <li class='menu-item@(currentPage == "/Ecommerce/CustomerDetailsSecurity" ? " active" : "")'>
                  <a asp-controller='Ecommerce' asp-action='CustomerDetailsSecurity' class="menu-link">
                    <div data-i18n="Security">امنیت</div>
                  </a>
                </li>
                <li class='menu-item@(currentPage == "/Ecommerce/CustomerDetailsBilling" ? " active" : "")'>
                  <a asp-controller='Ecommerce' asp-action='CustomerDetailsBilling' class="menu-link">
                    <div data-i18n="Address & Billing">آدرس و صورتحساب</div>
                  </a>
                </li>
                <li class='menu-item@(currentPage == "/Ecommerce/CustomerDetailsNotifications" ? " active" : "")'>
                  <a asp-controller='Ecommerce' asp-action='CustomerDetailsNotifications' class="menu-link">
                    <div data-i18n="Notifications">اعلانات</div>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class='menu-item@(currentPage == "/Ecommerce/Reviews" ? " active" : "")'>
          <a asp-controller="Ecommerce" asp-action='Reviews' class="menu-link">
            <div data-i18n="Manage Reviews">مدیریت بازخوردها</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ecommerce/Referrals" ? " active" : "")'>
          <a asp-controller="Ecommerce" asp-action='Referrals' class="menu-link">
            <div data-i18n="Referrals">باشگاه مشتریان</div>
          </a>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Ecommerce/Settings") ? " active open" : "")'>
          <a href='javascript:void(0);' class='menu-link menu-toggle'>
            <div data-i18n="Settings">تنظیمات</div>
          </a>
          <ul class='menu-sub'>
            <li class='menu-item@(currentPage == "/Ecommerce/SettingsStoreDetails" ? " active" : "")'>
              <a asp-controller="Ecommerce" asp-action='SettingsStoreDetails' class="menu-link">
                <div data-i18n="Store Details">فروشگاه</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Ecommerce/SettingsPayments" ? " active" : "")'>
              <a asp-controller="Ecommerce" asp-action='SettingsPayments' class="menu-link">
                <div data-i18n="Payments">پرداخت‌ها</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Ecommerce/SettingsCheckout" ? " active" : "")'>
              <a asp-controller="Ecommerce" asp-action='SettingsCheckout' class="menu-link">
                <div data-i18n="Checkout">ثبت سفارش</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Ecommerce/SettingsShipping" ? " active" : "")'>
              <a asp-controller="Ecommerce" asp-action='SettingsShipping' class="menu-link">
                <div data-i18n="Shipping & Delivery">حمل و نقل</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Ecommerce/SettingsLocations" ? " active" : "")'>
              <a asp-controller="Ecommerce" asp-action='SettingsLocations' class="menu-link">
                <div data-i18n="Locations">آدرس‌ها</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Ecommerce/SettingsNotifications" ? " active" : "")'>
              <a asp-controller="Ecommerce" asp-action='SettingsNotifications' class="menu-link">
                <div data-i18n="Notifications">نوتیفیکیشن</div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Academy") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class='menu-icon tf-icons ti ti-book'></i>
        <div data-i18n="Academy">آکادمی</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Academy/Dashboard" ? " active" : "")'>
          <a asp-controller="Academy" asp-action="Dashboard" class="menu-link">
            <div data-i18n="Dashboard">داشبورد</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Academy/MyCourse" ? " active" : "")'>
          <a asp-controller="Academy" asp-action="MyCourse" class="menu-link">
            <div data-i18n="My Course">دوره‌ها</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Academy/CourseDetails" ? " active" : "")'>
          <a asp-controller="Academy" asp-action="CourseDetails" class="menu-link">
            <div data-i18n="Course Details">یک دوره</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Logistics") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class='menu-icon tf-icons ti ti-truck'></i>
        <div data-i18n="Logistics">حمل و نقل</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Logistics/Dashboard" ? " active" : "")'>
          <a asp-controller="Logistics" asp-action="Dashboard" class="menu-link">
            <div data-i18n="Dashboard">داشبورد</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Logistics/Fleet" ? " active" : "")'>
          <a asp-controller="Logistics" asp-action="Fleet" class="menu-link">
            <div data-i18n="Fleet">ناوگان نشان</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Logistics/FleetMapbox" ? " active" : "")'>
          <a asp-controller="Logistics" asp-action="FleetMapbox" class="menu-link">
            <div data-i18n="Mapbox Fleet">ناوگان مپ‌باکس</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Invoice") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class='menu-icon tf-icons ti ti-file-dollar'></i>
        <div data-i18n="Invoice">صورتحساب</div>
        <div class="badge bg-danger rounded-pill ms-auto">4</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Invoice/List" ? " active" : "")'>
          <a asp-controller="Invoice" asp-action="List" class="menu-link">
            <div data-i18n="List">لیست</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Invoice/Preview" ? " active" : "")'>
          <a asp-controller="Invoice" asp-action="Preview" class="menu-link">
            <div data-i18n="Preview">پیش‌فاکتور</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Invoice/Edit" ? " active" : "")'>
          <a asp-controller="Invoice" asp-action="Edit" class="menu-link">
            <div data-i18n="Edit">ویرایش</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Invoice/Add" ? " active" : "")'>
          <a asp-controller="Invoice" asp-action="Add" class="menu-link">
            <div data-i18n="Add">افزودن</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Users") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-users"></i>
        <div data-i18n="Users">کاربران</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Users/List" ? " active" : "")'>
          <a asp-controller="Users" asp-action="List" class="menu-link">
            <div data-i18n="List">لیست</div>
          </a>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Users/View") ? " active open" : "")'>
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="View">نمایش</div>
          </a>
          <ul class="menu-sub">
            <li class='menu-item@(currentPage == "/Users/ViewAccount" ? " active" : "")'>
              <a asp-controller="Users" asp-action="ViewAccount" class="menu-link">
                <div data-i18n="Account">حساب</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Users/ViewSecurity" ? " active" : "")'>
              <a asp-controller="Users" asp-action="ViewSecurity" class="menu-link">
                <div data-i18n="Security">امنیت</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Users/ViewBilling" ? " active" : "")'>
              <a asp-controller="Users" asp-action="ViewBilling" class="menu-link">
                <div data-i18n="Billing & Plans">اشتراک و روش‌پرداخت</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Users/ViewNotifications" ? " active" : "")'>
              <a asp-controller="Users" asp-action="ViewNotifications" class="menu-link">
                <div data-i18n="Notifications">اعلانات</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Users/ViewConnections" ? " active" : "")'>
              <a asp-controller="Users" asp-action="ViewConnections" class="menu-link">
                <div data-i18n="Connections">سایرحساب‌ها</div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Access") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class='menu-icon tf-icons ti ti-settings'></i>
        <div data-i18n="Roles & Permissions">نقش و سطح دسترسی</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Access/Roles" ? " active" : "")'>
          <a asp-controller="Access" asp-action="Roles" class="menu-link">
            <div data-i18n="Roles">نقش‌ها</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Access/Permission" ? " active" : "")'>
          <a asp-controller="Access" asp-action="Permission" class="menu-link">
            <div data-i18n="Permission">دسترسی‌ها</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Pages") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-file"></i>
        <div data-i18n="Pages">صفحات</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage.StartsWith("/Pages/Profile") ? " active open" : "")'>
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="User Profile">پروفایل حرفه‌ای</div>
          </a>
          <ul class="menu-sub">
            <li class='menu-item@(currentPage == "/Pages/ProfileUser" ? " active" : "")'>
              <a asp-controller="Pages" asp-action="ProfileUser" class="menu-link">
                <div data-i18n="Profile">پروفایل</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Pages/ProfileTeams" ? " active" : "")'>
              <a asp-controller="Pages" asp-action="ProfileTeams" class="menu-link">
                <div data-i18n="Teams">گروه‌ها</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Pages/ProfileProjects" ? " active" : "")'>
              <a asp-controller="Pages" asp-action="ProfileProjects" class="menu-link">
                <div data-i18n="Projects">پروژه‌ها</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Pages/ProfileConnections" ? " active" : "")'>
              <a asp-controller="Pages" asp-action="ProfileConnections" class="menu-link">
                <div data-i18n="Connections">همکاران</div>
              </a>
            </li>
          </ul>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Pages/Account") ? " active open" : "")'>
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="Account Settings">تنظیمات حساب</div>
          </a>
          <ul class="menu-sub">
            <li class='menu-item@(currentPage == "/Pages/AccountSettings" ? " active" : "")'>
              <a asp-controller="Pages" asp-action="AccountSettings" class="menu-link">
                <div data-i18n="Account">حساب</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Pages/AccountSettingsSecurity" ? " active" : "")'>
              <a asp-controller="Pages" asp-action="AccountSettingsSecurity" class="menu-link">
                <div data-i18n="Security">امنیت</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Pages/AccountSettingsBilling" ? " active" : "")'>
              <a asp-controller="Pages" asp-action="AccountSettingsBilling" class="menu-link">
                <div data-i18n="Billing & Plans">اشتراک و ‌پرداخت</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Pages/AccountSettingsNotifications" ? " active" : "")'>
              <a asp-controller="Pages" asp-action="AccountSettingsNotifications" class="menu-link">
                <div data-i18n="Notifications">اعلانات</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Pages/AccountSettingsConnections" ? " active" : "")'>
              <a asp-controller="Pages" asp-action="AccountSettingsConnections" class="menu-link">
                <div data-i18n="Connections">ارتباطات</div>
              </a>
            </li>
          </ul>
        </li>
        <li class='menu-item@(currentPage == "/Pages/FAQ" ? " active" : "")'>
          <a asp-controller="Pages" asp-action="FAQ" class="menu-link">
            <div data-i18n="FAQ">سوالات متداول</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Pages/Pricing" ? " active" : "")'>
          <a asp-controller="Pages" asp-action="Pricing" class="menu-link">
            <div data-i18n="Pricing">قیمت گذاری</div>
          </a>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Pages/Misc") ? " active open" : "")'>
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="Misc">دیگر صفحات</div>
          </a>
          <ul class="menu-sub">
            <li class='menu-item@(currentPage == "/Pages/MiscError" ? " active" : "")'>
              <a asp-controller="Pages" asp-action="MiscError" class="menu-link" target="_blank">
                <div data-i18n="Error">خطا</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Pages/MiscUnderMaintenance" ? " active" : "")'>
              <a asp-controller="Pages" asp-action="MiscUnderMaintenance" class="menu-link" target="_blank">
                <div data-i18n="Under Maintenance">دردست تعمیر</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Pages/MiscComingSoon" ? " active" : "")'>
              <a asp-controller="Pages" asp-action="MiscComingSoon" class="menu-link" target="_blank">
                <div data-i18n="Coming Soon">به‌زودی</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Pages/MiscNotAuthorized" ? " active" : "")'>
              <a asp-controller="Pages" asp-action="MiscNotAuthorized" class="menu-link" target="_blank">
                <div data-i18n="Not Authorized">غیرمجاز</div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Auth") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-lock"></i>
        <div data-i18n="Authentications">احراز هویت</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage.StartsWith("/Auth/Login") ? " active open" : "")'>
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="Login">ورود</div>
          </a>
          <ul class="menu-sub">
            <li class='menu-item@(currentPage == "/Auth/LoginBasic" ? " active" : "")'>
              <a asp-controller="Auth" asp-action="LoginBasic" class="menu-link" target="_blank">
                <div data-i18n="Basic">پایه</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Auth/LoginCover" ? " active" : "")'>
              <a asp-controller="Auth" asp-action="LoginCover" class="menu-link" target="_blank">
                <div data-i18n="Cover">کاور</div>
              </a>
            </li>
          </ul>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Auth/Register") ? " active open" : "")'>
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="Register">عضویت</div>
          </a>
          <ul class="menu-sub">
            <li class='menu-item@(currentPage == "/Auth/RegisterBasic" ? " active" : "")'>
              <a asp-controller="Auth" asp-action="RegisterBasic" class="menu-link" target="_blank">
                <div data-i18n="Basic">پایه</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Auth/RegisterCover" ? " active" : "")'>
              <a asp-controller="Auth" asp-action="RegisterCover" class="menu-link" target="_blank">
                <div data-i18n="Cover">کاور</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Auth/RegisterMultiSteps" ? " active" : "")'>
              <a asp-controller="Auth" asp-action="RegisterMultisteps" class="menu-link" target="_blank">
                <div data-i18n="Multi-steps">چند مرحله‌ای</div>
              </a>
            </li>
          </ul>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Auth/VerifyEmail") ? " active open" : "")'>
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="Verify Email">تأیید ایمیل</div>
          </a>
          <ul class="menu-sub">
            <li class='menu-item@(currentPage == "/Auth/VerifyEmailBasic" ? " active" : "")'>
              <a asp-controller="Auth" asp-action="VerifyEmailBasic" class="menu-link" target="_blank">
                <div data-i18n="Basic">پایه</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Auth/VerifyEmailCover" ? " active" : "")'>
              <a asp-controller="Auth" asp-action="VerifyEmailCover" class="menu-link" target="_blank">
                <div data-i18n="Cover">کاور</div>
              </a>
            </li>
          </ul>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Auth/ResetPassword") ? " active open" : "")'>
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="Reset Password">ریست پسورد</div>
          </a>
          <ul class="menu-sub">
            <li class='menu-item@(currentPage == "/Auth/ResetPasswordBasic" ? " active" : "")'>
              <a asp-controller="Auth" asp-action="ResetPasswordBasic" class="menu-link" target="_blank">
                <div data-i18n="Basic">پایه</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Auth/ResetPasswordCover" ? " active" : "")'>
              <a asp-controller="Auth" asp-action="ResetPasswordCover" class="menu-link" target="_blank">
                <div data-i18n="Cover">کاور</div>
              </a>
            </li>
          </ul>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Auth/ForgotPassword") ? " active open" : "")'>
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="Forgot Password">فراموشی پسورد</div>
          </a>
          <ul class="menu-sub">
            <li class='menu-item@(currentPage == "/Auth/ForgotPasswordBasic" ? " active" : "")'>
              <a asp-controller="Auth" asp-action="ForgotPasswordBasic" class="menu-link" target="_blank">
                <div data-i18n="Basic">پایه</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Auth/ForgotPasswordCover" ? " active" : "")'>
              <a asp-controller="Auth" asp-action="ForgotPasswordCover" class="menu-link" target="_blank">
                <div data-i18n="Cover">کاور</div>
              </a>
            </li>
          </ul>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Auth/TwoSteps") ? " active open" : "")'>
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="Two Steps">تایید دومرحله‌ای</div>
          </a>
          <ul class="menu-sub">
            <li class='menu-item@(currentPage == "/Auth/TwoStepsBasic" ? " active" : "")'>
              <a asp-controller="Auth" asp-action="TwoStepsBasic" class="menu-link" target="_blank">
                <div data-i18n="Basic">پایه</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Auth/TwoStepsCover" ? " active" : "")'>
              <a asp-controller="Auth" asp-action="TwoStepsCover" class="menu-link" target="_blank">
                <div data-i18n="Cover">کاور</div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Wizards") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-forms"></i>
        <div data-i18n="Wizard Examples">چند مرحله‌ای</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Wizards/Checkout" ? " active" : "")'>
          <a asp-controller="Wizards" asp-action="Checkout" class="menu-link">
            <div data-i18n="Checkout">ثبت سفارش</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Wizards/PropertyListing" ? " active" : "")'>
          <a asp-controller="Wizards" asp-action="PropertyListing" class="menu-link">
            <div data-i18n="Property Listing">درخواست ملک</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Wizards/CreateDeal" ? " active" : "")'>
          <a asp-controller="Wizards" asp-action="CreateDeal" class="menu-link">
            <div data-i18n="Create Deal">ایجاد معامله</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage == "/Modals/Examples" ? " active" : "")'>
      <a asp-controller="Modals" asp-action="Examples" class="menu-link">
        <i class="menu-icon tf-icons ti ti-square"></i>
        <div data-i18n="Modal Examples">نمونه‌های مُدال</div>
      </a>
    </li>

    <!-- Components -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text" data-i18n="Components">امکانات</span>
    </li>
    <!-- Cards -->
    <li class='menu-item@(currentPage.StartsWith("/Cards") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-id"></i>
        <div data-i18n="Cards">کارت‌ها</div>
        <div class="badge bg-primary rounded-pill ms-auto">5</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Cards/Basic" ? " active" : "")'>
          <a asp-controller="Cards" asp-action="Basic" class="menu-link">
            <div data-i18n="Basic">پایه</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Cards/Advance" ? " active" : "")'>
          <a asp-controller="Cards" asp-action="Advance" class="menu-link">
            <div data-i18n="Advance">پیشرفته</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Cards/Statistics" ? " active" : "")'>
          <a asp-controller="Cards" asp-action="Statistics" class="menu-link">
            <div data-i18n="Statistics">آمار</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Cards/Analytics" ? " active" : "")'>
          <a asp-controller="Cards" asp-action="Analytics" class="menu-link">
            <div data-i18n="Analytics">آنالیز</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Cards/Actions" ? " active" : "")'>
          <a asp-controller="Cards" asp-action="Actions" class="menu-link">
            <div data-i18n="Actions">عملیات</div>
          </a>
        </li>
      </ul>
    </li>
    <!-- User interface -->
    <li class='menu-item@(currentPage.StartsWith("/Ui") ? " active open" : "")'>
      <a href="javascript:void(0)" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-color-swatch"></i>
        <div data-i18n="User interface">رابط کاربری</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Ui/Accordion" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Accordion" class="menu-link">
            <div data-i18n="Accordion">آکاردئون</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Alerts" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Alerts" class="menu-link">
            <div data-i18n="Alerts">هشدارها</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Badges" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Badges" class="menu-link">
            <div data-i18n="Badges">برچسب‌ها</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Buttons" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Buttons" class="menu-link">
            <div data-i18n="Buttons">کلیدها</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Carousel" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Carousel" class="menu-link">
            <div data-i18n="Carousel">اسلایدر</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Collapse" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Collapse" class="menu-link">
            <div data-i18n="Collapse">بازشونده</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Dropdowns" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Dropdowns" class="menu-link">
            <div data-i18n="Dropdowns">پاپ‌آپ منو</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Footer" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Footer" class="menu-link">
            <div data-i18n="Footer">فـوتر</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/ListGroups" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="ListGroups" class="menu-link">
            <div data-i18n="List Groups">لیست گروهی</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Modals" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Modals" class="menu-link">
            <div data-i18n="Modals">مُدال‌ها</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Navbar" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Navbar" class="menu-link">
            <div data-i18n="Navbar">تولبار</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Offcanvas" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Offcanvas" class="menu-link">
            <div data-i18n="Offcanvas">کشوی کناری</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/PaginationBreadcrumbs" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="PaginationBreadcrumbs" class="menu-link">
            <div data-i18n="Pagination & Breadcrumbs">صفحه‌بندی و مسیر</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Progress" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Progress" class="menu-link">
            <div data-i18n="Progress">نوار پیشرفت</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Spinners" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Spinners" class="menu-link">
            <div data-i18n="Spinners">لودینگ‌ها</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/TabsPills" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="TabsPills" class="menu-link">
            <div data-i18n="Tabs & Pills">تب‌ها و برگ‌ها</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Toasts" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Toasts" class="menu-link">
            <div data-i18n="Toasts">توئستر</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/TooltipsPopovers" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="TooltipsPopovers" class="menu-link">
            <div data-i18n="Tooltips & Popovers">پاپ‌آپ راهنما</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Typography" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Typography" class="menu-link">
            <div data-i18n="Typography">تایپوگرافی</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Extended components -->
    <li class='menu-item@(currentPage.StartsWith("/ExtendedUi") ? " active open" : "")'>
      <a href="javascript:void(0)" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-components"></i>
        <div data-i18n="Extended UI">طراحی سفارشی</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/ExtendedUi/Avatar" ? " active" : "")'>
          <a asp-controller="ExtendedUi" asp-action="Avatar" class="menu-link">
            <div data-i18n="Avatar">آواتار</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/ExtendedUi/BlockUi" ? " active" : "")'>
          <a asp-controller="ExtendedUi" asp-action="BlockUi" class="menu-link">
            <div data-i18n="BlockUI">قفل صفحه</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/ExtendedUi/DragDrop" ? " active" : "")'>
          <a asp-controller="ExtendedUi" asp-action="DragDrop" class="menu-link">
            <div data-i18n="Drag & Drop">کشیدن و رهاکردن</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/ExtendedUi/MediaPlayer" ? " active" : "")'>
          <a asp-controller="ExtendedUi" asp-action="MediaPlayer" class="menu-link">
            <div data-i18n="Media Player">مدیاپلیر</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/ExtendedUi/PerfectScrollbar" ? " active" : "")'>
          <a asp-controller="ExtendedUi" asp-action="PerfectScrollbar" class="menu-link">
            <div data-i18n="Perfect Scrollbar">نوار اسکرول</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/ExtendedUi/StarRatings" ? " active" : "")'>
          <a asp-controller="ExtendedUi" asp-action="StarRatings" class="menu-link">
            <div data-i18n="Star Ratings">امتیاز ستاره‌ای</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/ExtendedUi/SweetAlert2" ? " active" : "")'>
          <a asp-controller="ExtendedUi" asp-action="SweetAlert2" class="menu-link">
            <div data-i18n="SweetAlert2">پاپ‌آپ SweetAlert2</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/ExtendedUi/TextDivider" ? " active" : "")'>
          <a asp-controller="ExtendedUi" asp-action="TextDivider" class="menu-link">
            <div data-i18n="Text Divider">جداکننده</div>
          </a>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/ExtendedUi/Timeline") ? " active open" : "")'>
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="Timeline">خط زمانی</div>
          </a>
          <ul class="menu-sub">
            <li class='menu-item@(currentPage == "/ExtendedUi/TimelineBasic" ? " active" : "")'>
              <a asp-controller="ExtendedUi" asp-action="TimelineBasic" class="menu-link">
                <div data-i18n="Basic">پایه</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/ExtendedUi/TimelineFullScreen" ? " active" : "")'>
              <a asp-controller="ExtendedUi" asp-action="TimelineFullScreen" class="menu-link">
                <div data-i18n="Fullscreen">تمام صفحه</div>
              </a>
            </li>
          </ul>
        </li>
        <li class='menu-item@(currentPage == "/ExtendedUi/Tour" ? " active" : "")'>
          <a asp-controller="ExtendedUi" asp-action="Tour" class="menu-link">
            <div data-i18n="Tour">تور راهنما</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/ExtendedUi/Treeview" ? " active" : "")'>
          <a asp-controller="ExtendedUi" asp-action="Treeview" class="menu-link">
            <div data-i18n="Treeview">نمای درختی</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/ExtendedUi/Misc" ? " active" : "")'>
          <a asp-controller="ExtendedUi" asp-action="Misc" class="menu-link">
            <div data-i18n="Miscellaneous">سایرموارد</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Icons -->
    <li class='menu-item@(currentPage.StartsWith("/Icons") ? " active open" : "")'>
      <a href="javascript:void(0)" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-brand-tabler"></i>
        <div data-i18n="Icons">آیکن‌ها</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Icons/Tabler" ? " active" : "")'>
          <a asp-controller="Icons" asp-action="Tabler" class="menu-link">
            <div data-i18n="Tabler">آیکن‌های Tabler</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Icons/FontAwesome" ? " active" : "")'>
          <a asp-controller="Icons" asp-action="FontAwesome" class="menu-link">
            <div data-i18n="Fontawesome">آیکن‌های Fontawesome</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Forms & Tables -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text" data-i18n="Forms & Tables">فرم‌ها و جداول</span>
    </li>
    <!-- Forms -->
    <li class='menu-item@(currentPage.StartsWith("/Forms") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-toggle-left"></i>
        <div data-i18n="Form Elements">المان‌های فرم</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Forms/BasicInputs" ? " active" : "")'>
          <a asp-controller="Forms" asp-action="BasicInputs" class="menu-link">
            <div data-i18n="Basic Inputs">اینپوت‌های پایه</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Forms/InputGroups" ? " active" : "")'>
          <a asp-controller="Forms" asp-action="InputGroups" class="menu-link">
            <div data-i18n="Input groups">اینپوت گروپ</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Forms/CustomOptions" ? " active" : "")'>
          <a asp-controller="Forms" asp-action="CustomOptions" class="menu-link">
            <div data-i18n="Custom Options">گزینه‌های سفارشی</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Forms/Editors" ? " active" : "")'>
          <a asp-controller="Forms" asp-action="Editors" class="menu-link">
            <div data-i18n="Editors">ویرایشگر متن</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Forms/FileUpload" ? " active" : "")'>
          <a asp-controller="Forms" asp-action="FileUpload" class="menu-link">
            <div data-i18n="File Upload">آپلود فایل</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Forms/Pickers" ? " active" : "")'>
          <a asp-controller="Forms" asp-action="Pickers" class="menu-link">
            <div data-i18n="Pickers">انتخابگر تاریخ و رنگ</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Forms/PickersJalali" ? " active" : "")'>
          <a asp-controller="Forms" asp-action="PickersJalali" class="menu-link">
            <div data-i18n="Solar Date Pickers">انتخابگر تاریخ شمسی</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Forms/Selects" ? " active" : "")'>
          <a asp-controller="Forms" asp-action="Selects" class="menu-link">
            <div data-i18n="Select & Tags">انتخابگر گزینه</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Forms/Sliders" ? " active" : "")'>
          <a asp-controller="Forms" asp-action="Sliders" class="menu-link">
            <div data-i18n="Sliders">انتخابگر بازه</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Forms/Switches" ? " active" : "")'>
          <a asp-controller="Forms" asp-action="Switches" class="menu-link">
            <div data-i18n="Switches">سوئیچ‌ها</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Forms/Extras" ? " active" : "")'>
          <a asp-controller="Forms" asp-action="Extras" class="menu-link">
            <div data-i18n="Extras">سایر موارد</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/FormLayouts") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-layout-navbar"></i>
        <div data-i18n="Form Layouts">چیدمان فرم</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/FormLayouts/Vertical" ? " active" : "")'>
          <a asp-controller="FormLayouts" asp-action="Vertical" class="menu-link">
            <div data-i18n="Vertical Form">فرم عمودی</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/FormLayouts/Horizontal" ? " active" : "")'>
          <a asp-controller="FormLayouts" asp-action="Horizontal" class="menu-link">
            <div data-i18n="Horizontal Form">فرم افقی</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/FormLayouts/Sticky" ? " active" : "")'>
          <a asp-controller="FormLayouts" asp-action="Sticky" class="menu-link">
            <div data-i18n="Sticky Actions">سربرگ چسبنده</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/FormWizard") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-text-wrap-disabled"></i>
        <div data-i18n="Form Wizard">فرم مرحله‌ای</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/FormWizard/Numbered" ? " active" : "")'>
          <a asp-controller="FormWizard" asp-action="Numbered" class="menu-link">
            <div data-i18n="Numbered">شماره‌دار</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/FormWizard/Icons" ? " active" : "")'>
          <a asp-controller="FormWizard" asp-action="Icons" class="menu-link">
            <div data-i18n="Icons">آیکن‌ها</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage == "/FormValidation/Validation" ? " active" : "")'>
      <a asp-controller="FormValidation" asp-action="Validation" class="menu-link">
        <i class="menu-icon tf-icons ti ti-checkbox"></i>
        <div data-i18n="Form Validation">اعتبارسنجی فرم</div>
      </a>
    </li>
    <!-- Tables -->
    <li class='menu-item@(currentPage == "/Tables/Basic" ? " active" : "")'>
      <a asp-controller="Tables" asp-action="Basic" class="menu-link">
        <i class="menu-icon tf-icons ti ti-table"></i>
        <div data-i18n="Tables">جداول</div>
      </a>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Tables/DataTables") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-layout-grid"></i>
        <div data-i18n="Datatables">جداول داده‌ای</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Tables/DataTablesBasic" ? " active" : "")'>
          <a asp-controller="Tables" asp-action="DataTablesBasic" class="menu-link">
            <div data-i18n="Basic">پایه</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Tables/DataTablesAdvanced" ? " active" : "")'>
          <a asp-controller="Tables" asp-action="DataTablesAdvanced" class="menu-link">
            <div data-i18n="Advanced">پیشرفته</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Tables/DataTablesExtensions" ? " active" : "")'>
          <a asp-controller="Tables" asp-action="DataTablesExtensions" class="menu-link">
            <div data-i18n="Extensions">ویژگی‌های خاص</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Charts & Maps -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text" data-i18n="Charts & Maps">نمودارها و نقشه‌ها</span>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Charts") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-chart-pie"></i>
        <div data-i18n="Charts">نمودارها</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Charts/Apex" ? " active" : "")'>
          <a asp-controller="Charts" asp-action="Apex" class="menu-link">
            <div data-i18n="Apex Charts">نمودارهای Apex</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Charts/Chartjs" ? " active" : "")'>
          <a asp-controller="Charts" asp-action="Chartjs" class="menu-link">
            <div data-i18n="ChartJS">نمودارهای JS</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage == "/Maps/Leaflet" ? " active" : "")'>
      <a asp-controller="Maps" asp-action="Leaflet" class="menu-link">
        <i class="menu-icon tf-icons ti ti-map"></i>
        <div data-i18n="Leaflet Maps">نقشه‌های Leaflet</div>
      </a>
    </li>

    <!-- Misc -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text" data-i18n="Misc">سایر</span>
    </li>
    <li class="menu-item">
      <a href='@TempData.Peek("support")' target="_blank" class="menu-link">
        <i class="menu-icon tf-icons ti ti-lifebuoy"></i>
        <div data-i18n="Support">پشتیبانی</div>
      </a>
    </li>
    <li class="menu-item">
      <a href='@TempData.Peek("documentation")' target="_blank" class="menu-link">
        <i class="menu-icon tf-icons ti ti-file-description"></i>
        <div data-i18n="Documentation">مستندات فنی</div>
      </a>
    </li>
  </ul>

</aside>
<!-- / Menu -->
