@using Application.Services
@{

	ViewData["Title"] = "بلیط ها";



	Layout = "_AgencySideLayout";
}

@section VendorStyles {
	<link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.css" />
	<link rel="stylesheet" href="~/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css" />
	<link rel="stylesheet" href="~/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css" />
	<link rel="stylesheet" href="~/vendor/libs/jquery-timepicker/jquery-timepicker.css" />
	<link rel="stylesheet" href="~/vendor/libs/pickr/pickr-themes.css" />

	<link href="~/vendor/css/pages/front-page-landing.css" rel="stylesheet" />
	<link href="~/css/taxitripsindex.css" rel="stylesheet" />
}

@section VendorScripts {
	<script src="~/libs/jquery.js"> </script>
	<script src="~/vendor/libs/moment/moment.js"></script>
	<script src="~/vendor/libs/jdate/jdate.min.js"></script>
	<script src="~/vendor/libs/flatpickr/flatpickr-jdate.js"></script>
	<script src="~/vendor/libs/flatpickr/l10n/fa.js"></script>
	<script src="~/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
	<script src="~/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js"></script>
	<script src="~/vendor/libs/jquery-timepicker/jquery-timepicker.js"></script>
	<script src="~/vendor/libs/pickr/pickr.js"></script>
}

@section PageScripts {
	<script src="~/js/forms-pickers-jalali.js"></script>
	<script src="~/js/ui-modals.js"></script>

}
@* ************** Content ************** *@



<style>
	.daytext {
		text-align: center;
	}

	.tripday {
		align-items: stretch;
		border-radius: 8px !important;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		justify-content: center;
		margin: 0 6px;
		padding: 0 4px;
		position: relative;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
		/* width: 88px; */
	}

	.switchbar-container {
		display: flex;
		align-items: center;
		display: flex;
		max-width: 100%;
		flex-direction: row !important;
	}

	.scroll_button {
		padding: 8px;
		width: 48px;
	}

	.timelline-container {
		align-items: center;
		display: flex;
		overflow-x: scroll;
		overflow-y: hidden;
		padding-bottom: 8px;
		scrollbar-width: none;
		display: flex;
	}

	.scroll_button {
		background: none;
		border: none;
		color: inherit;
		cursor: pointer;
		outline: none;
		align-self: stretch;
	}
</style>
<style>


	@@media only screen and (min-width: 960px) {
		.px-lg-6 {
			padding-right: 2.6rem !important;
			padding-left: 2.6rem !important;
		}
	}

	@@media only screen and (min-width: 1200px) {
		.px-lg-6 {
			padding-right: 8rem !important;
			padding-left: 8rem !important;
		}
	}
</style>
<style>
	.submitation {
		max-width: 160px;
		flex: 1;
	}

	.direction-container {
	}

	.transport {
		flex-grow: 3;
		max-width: 300px;
	}

	.trip-info {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}


	@@media only screen and (max-width: 600px) {
		.trip-info {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		.provider h5 {
			font-size: initial;
		}

		.starttime, .endtime {
			font-size: 1.1rem !important;
		}

		.transport {
			padding-left: 1.5rem;
			padding-right: 1.2rem;
			margin: 0 !important;
		}

		.submitation {
			flex-direction: row !important;
			max-width: unset !important;
			justify-content: space-between !important;
			padding-left: 1rem;
		}
	}

	.transport {
		margin-right: 3.6rem;
	}

	.fa-taxiSide {
		height: 1.2em;
	}

	.price {
		color: #0b5fb3;
		font-size: 20px;
		font-style: normal;
		font-variation-settings: "wght" 700;
		font-weight: 700;
		text-align: right;
	}

	.orgprice {
		color: #8d99a6;
		font-size: 15px;
		font-style: normal;
		font-variation-settings: "wght" 500;
		font-weight: 500;
		text-align: right;
		text-decoration: line-through;
	}

	.logo-image {
		height: 40px;
		-o-object-fit: contain;
		object-fit: contain;
		width: 40px;
	}


	.leftside {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.directionval {
		font-weight: 400;
		font-size: 14px;
		font-style: normal;
		font-variation-settings: "wght" 400;
		font-weight: 400;
		line-height: 28px;
	}


	.mainbody {
		display: flex;
		justify-content: space-between;
	}

	.provider {
		text-align: center;
	}

	.starttime, .endtime {
		font-size: 1.7rem;
	}

	.tripcardheader {
		display: flex;
		justify-content: space-between;
		align-items: start;
	}

	.carmodel {
		color: black !important;
	}

	.direction-container {
		display: flex;
		flex-direction: column;
		justify-content: start;
	}

	.landing-hero {
		background-color: hsla(213.08823529411762, 0%, 93%, 1) !important;
		background-image: radial-gradient(circle at 83% 22%, hsla(35.735294117647136, 82%, 87%, 1) 0%, transparent 50%), radial-gradient(circle at 0% 50%, hsla(194.5588235294118, 37%, 91%, 1) 0%, transparent 50%), radial-gradient(circle at 21% 21%, hsla(27.999999999999577, 0%, 86%, 1) 0%, transparent 50%), radial-gradient(circle at 54% 77%, hsla(193.2352941176474, 100%, 95%, 1) 0%, transparent 50%), radial-gradient(circle at 30% 75%, hsla(197.87234042553195, 25%, 35%, 1) 0%, transparent 20%) !important;
		background-blend-mode: normal, normal, normal, normal, normal !important;
	}
</style>


<div class="px-lg-6 px-0 mt-4">

	<div class="searchbar card shadow card rounded-5 p-4" style="">

		<div class="row">

			<div class="d-flex justify-content-between">

				@{
					if (!String.IsNullOrEmpty(ViewBag.dateFilter))
					{
						<div>
							<h3 class="mb-1">
								بلیط‌های خریداری شده
							</h3>
							<h5 class="fw-normal">
								در بازه
								@ViewBag.dateFilter
							</h5>
						</div>
					}

					else
					{

						<h3>
							آخرین‌ بلیط‌ ها
						</h3>
					}
				}

				<div>
					<button class="btn btn-primary d-inline" data-bs-target="#paymentmodal" data-bs-toggle="modal">
						<i class="ti ti-filter"></i>
						فیلتر
					</button>
				</div>


			</div>
			<div class="py-2">

				@if (ViewBag.tickets.Count < 1)
				{

					if (!String.IsNullOrEmpty(ViewBag.dateFilter))
					{
						<div class="col-12 d-flex text-center align-items-center py-3 mt-2" style="flex-direction: column;">

							<h5>
								<i class="ti ti-ticket"></i>
								بلیطی پیدا نشد
							</h5>
							<small>
								در بازه زمانی که جستجو کردید، بلیطی یافت نشد. میتوانید فیلترها را تغییر دهید
							</small>

						</div>
					}
					else
					{
						<div class="col-12 d-flex text-center align-items-center py-3 mt-2" style="flex-direction: column;">

							<h5>
								<i class="ti ti-ticket"></i>
								هنوز بلیطی وجود ندارد
							</h5>
							<small>
								شما هنوز بلیطی خریداری نکرده اید می‌توانید از لینک، سفرهای سواری را جستجو کنید
							</small>
							<a class="btn btn-primary mt-3" asp-controller="Home" asp-action="Index">
								جستجوی سفرها
							</a>
						</div>
					}
				}

				@foreach (Ticket ticket in ViewBag.tickets)
				{
					<div class="col-12 card rounded-5 p-3 mt-2">

						<div class="col-12 row rounded-5 p-0 ">
							<div class="d-flex justify-content-center align-items-center col-6 col-md-1 ps-1">
								@* <svg xmlns="http://www.w3.org/2000/svg" width="70" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-ticket">
							<path stroke="none" d="M0 0h24v24H0z" fill="none" />
							<path d="M15 5l0 2" />
							<path d="M15 11l0 2" />
							<path d="M15 17l0 2" />
							<path d="M5 5h14a2 2 0 0 1 2 2v3a2 2 0 0 0 0 4v3a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-3a2 2 0 0 0 0 -4v-3a2 2 0 0 1 2 -2" />
							</svg> *@

								@{
									if (ticket.Gender == "male")
									{
										<img src="~/male.png" height="60" />

									}
									else
									{
										<img src="~/female.png" height="60" />
									}
								}


							</div>

							<div class="d-flex col-6 col-md-3" style="flex-direction: column">
								<h5 class="mb-1">
									اطلاعات خریدار
								</h5>

								<div class="ps-1">
									<div class="">
										<lable class="fw-bold">
											نام :
										</lable>
										<label>
											@ticket.Firstname
										</label>
									</div>

									<div class="">
										<lable class="fw-bold">
											نام‌خانوادگی :
										</lable>
										<label>
											@ticket.Lastname
										</label>
									</div>

									<div class="">
										<lable class="fw-bold">
											شماره تلفن :
										</lable>
										<label>
											<a href="tel:+98
@ticket.PhoneNumber
		">@ticket.PhoneNumber</a>
										</label>
									</div>

								</div>
							</div>

							<div class="d-flex col-6 col-md-3" style="flex-direction: column">
								<h5 class="mb-1">
									اطلاعات سفر
								</h5>

								<div class="ps-1">
									<div class="">
										<lable class="fw-bold">
											@ticket.ServiceName
										</lable>
									</div>

									<div class="">
										<lable class="fw-bold">
											مسیر :
										</lable>
										<label>
											<span class="fw-bold">
												@ticket.TripOrigin
											</span>
											به
											<span class="fw-bold">
												@ticket.TripDestination
											</span>
										</label>
									</div>

									<div class="">
										<lable class="fw-bold">
											خودرو :
										</lable>
										<label>
											@ticket.CarName
										</label>
									</div>

								</div>
							</div>
							<div class="d-flex col-6 col-md-3" style="flex-direction: column">
								<h5 class="mb-1">
									اطلاعات خرید
								</h5>

								<div class="ps-1">
									<div class="">
										<lable class="fw-bold">
											تاریخ خرید :
										</lable>
										<label>
											@ticket.RegisteredAt.ToString("HH:mm")
											-
											@ticket.RegisteredAt.ToPersianDate().ToShortDateString()
										</label>
									</div>

									<div class="">
										<lable class="fw-bold">
											قیمت :
										</lable>
										<label>
											@ticket.TicketFinalPrice.ToString("N0")
										</label>
									</div>

								</div>
							</div>
							<div class="d-flex col-12 col-md-2 P-0 align-self-center" style="flex-direction: column">

								<a class="btn btn-secondary px-0" asp-area="AgencyArea" asp-controller="CustomerService" asp-action="TripReceiptPDF" asp-route-reference="@ticket.TicketCode">

									<i class="ti ti-printer"></i>
									چاپ بلیط
								</a>
							</div>

						</div>

					</div>
				}
			</div>
		</div>

	</div>

	<div class="row mt-2">
	</div>

</div>

<div class="col-12">
	<small class="text-light fw-medium"></small>
	<div class="mt-4">
		<!-- Modal -->
		<div aria-hidden="true" class="modal fade py-2" id="paymentmodal" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header ">
						<div class="d-flex justify-content-start align-items-center mt-2">
							<i class="ti ti-filter ti-lg text-warning"></i>
							<div class="ms-3">

								<h3 class="modal-title" id="modalCenterTitle">فیلتر بلیط‌ ها</h3>
								<small>
									بلیط‌ های فروخته شده‌ی آژانس
								</small>
							</div>
							<button aria-label="بستن" class="btn-close" data-bs-dismiss="modal" type="button"></button>
						</div>
					</div>
					<div class="modal-body pb-1">
						<div class="col-12 mt-2">
							<div>
								<h5 style="align-self:end;">
									<i class="ti ti-calendar-month"></i>
									فیلتر بر اساس زمان خرید
								</h5>

								<small style="font-size: .7rem;" class="text-muted d-block">

									<a class="ms-2" asp-action="Index">
										<i class="ti ti-backspace"></i>
										پاک کردن فیلتر
									</a>
								</small>

							</div>
							<form class="d-flex justify-content-between ms-1 " asp-action="Filter" method="get">
								<input value="@ViewBag.dateFilter" name="datesFilter" class="form-control" id="bs-rangepicker-basic" type="text">

								<button type="submit" class="btn btn-primary ms-2">
									جستجو
								</button>
							</form>

						</div>
					</div>

					<hr />

				</div>

			</div>
		</div>
	</div>
</div>


<div class="pb-5">
</div>


