@using Application.Services
@model Application.ViewModels.CustomerService.CustomerReciptPdfGeneratorViewModel

@{
    Layout = "_BlankLayout";
    ViewData["title"] = "رسید سفر سواری";

    var trip = Model.Trip;

    var ticket = Model.Ticket;

    Dictionary<int, string> monthName = new Dictionary<int, string>()
    {
    {1,"فروردین" },
    {2,"اردیبهشت"},
    {3, "خرداد"},
    {4, "تیر" },
    {5,"مرداد"},
    {6, "شهریور" },
    {7, "مهر" },
    {8, "آبان" },
    {9, "آذر" },
    {10, "دی" },
    {11, "بهمن" },
    {12, "اسفند" }
    };

}

@* <script>
    Swal.fire({
        title: 'سفر ثبت شد',
        text: 'سفر سواری با موفقیت ثبت شد و پرداخت از طریق اعتبار آژانس پرداخت انجام گرفت همچنین پیام حاوی لینک بلیط به مسافر ارسال گردید',
        confirmButtonText: 'متوجه شدم',
        icon: 'success',
        customClass: {
            confirmButton: 'btn btn-primary waves-effect waves-light'
        },
        buttonsStyling: false
    });
</script> *@


<style>

  body{
    height: 100vh;
  }


    .form-check-label {
        padding-top: .42em !important;
        padding-bottom: .42em !important;
    }

    .border-divider, .border-gray-75 {
        --tw-border-opacity: 1;
        border-color: rgb(230 232 238 / var(--tw-border-opacity));
    }

    .border-1 {
        border-width: .063rem;
    }

    .rounded-5 {
        border-radius: 1.25rem;
    }

    .bg-white {
        --tw-bg-opacity: 1;
    }

    .shadow-7\.5__13__5__gray30 {
        --tw-shadow: 0 1.875rem 3.125rem 1.25rem hsla(0,0%,95%,.3);
        --tw-shadow-colored: 0 1.875rem 3.125rem 1.25rem var(--tw-shadow-color);
    }

    

    .headline {
        justify-content: space-between;
    }

    *, :after, :before {
        border: 0 solid #a0a0b3;
    }

    .font-bold {
        font-weight: 700;
    }

    .text-blck {
        --tw-text-opacity: 1;
        color: rgb(41 38 61 / var(--tw-text-opacity));
    }

    .text-white {
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
    }
    .bg-white {
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    }

    .border-divider, .border-gray-75 {
        --tw-border-opacity: 1;
        border-color: rgb(230 232 238 / var(--tw-border-opacity));
    }

    .border-1 {
        border-width: .063rem;
    }

    .rounded-3xl {
        border-radius: 1.5rem;
    }

    .rounded-5 {
        border-radius: 1.25rem;
    }

    .w-full {
       
    }

    body {
        overflow-x: hidden !important;
        display: flex;
        justify-content : center;
    }

    .row {
        --bs-gutter-x:none !important;
        --bs-gutter-y: none !important
    }
    .main_container{
      max-width: 1024px;
    }
    
</style>


<script>
    window.addEventListener('load', function () {
        window.print();
    });
</script>

<div class="main_container mt-0 d-flex justify-content-center">

    <div class="downside-contaner row">
        <div class="mb-0 px-0 d-flex row justify-content-between" style="justify-content: space-between;">

            <div class="d-flex col-7 ps-3" style="flex-direction: column; align-items: start;">
                <img src="/logo_full_b.png" height="30px"/>
                <span class="fs-3 font-bold d-block" style="--tw-text-opacity: 1; color: rgb(41 38 61 / var(--tw-text-opacity));">ثـبت موفقیت آمیـز</span>
            </div>

            <div class="col-5 d-flex justify-content-end mt-3">
                <div>
                    @{
                        var pdate_ticket = new PersianDate(ticket.RegisteredAt);
                        var pdate_now = new PersianDate(DateTime.Now);
                    }
                  <p class="mb-0">
                        @ticket.RegisteredAt.ToString("HH:mm:ss") @pdate_ticket.ToShortDateString()

                       : تاریخ ثبت سفر
                  </p>
                    <p class="mb-0">

                        @DateTime.Now.ToString("HH:mm:ss") @pdate_now.ToShortDateString()
                       : تاریخ چاپ 
                  </p>
                </div>
            </div>
        </div>

        <div class="col-12 m-0 px-3">

            <div class="card rounded-5 col-12 mt-2  pt-2 px-4 border-1">
                <div class="headline d-flex justify-between">
                    <span class="badge bg-dark rounded-pill py-2" style="font-size: .875rem!important">
                      <strong>
                        @trip.taxiSupervisorName
                    </strong>
                    </span>

                    <div>
                        <span class="fs5">
                            <strong>
                                رفرنس :
                                <span style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                                @ticket.TicketCode
                                </span>
                            </strong>
                        </span>

                        <small class="fs5 ms-1">
                            کد سفر :
                            <span style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">

                                @ticket.Tripcode
                            </span>

                        </small>
                    </div>

                    <div class="capacity badge bg-label-secondary rounded-pill">
                        <i class="ti ti-armchair-2 d-inline"></i>
                        |
                        @* <span class="badge bg-label-danger">دربتسی</span> *@
                        <small class="text-danger ms-1 d-inline t-bold">دربستی</small>
                    </div>
                </div>


                

                @* مبدا و مقصد *@

                <div class="px-lg-5 mt-1">
                    <div class="mt pt-2 col-12 d-flex px-5" style="justify-content: space-between;">
                        <span>
                            <small class="d-block ms-1 ">
                                <img src="/redpin.png" height="18px" />
                                مبدا
                            </small>
                            <span class="text-blck fs-4 text-bold fw-bold">
                                @trip.originCityName
                            </span>
                            <small>
                                @trip.oringinLocationName
                            </small>
                        </span>

                        <span style="align-self: end;" class="mb-1">
                            <span>
                                .......
                            </span>
                            <img src="/taxi.png" height="30px" />
                            <span>
                                .......
                            </span>
                        </span>

                        <span>
                            <small class="d-block ms-1">
                                <img src="/redpin.png" height="18px" />
                                مقصد
                            </small>
                            <span class="text-blck fs-4 text-bold fw-bold">
                                @trip.destinationCityName
                            </span>
                            <small>
                                @trip.destinationLocationName
                            </small>
                        </span>
                    </div>
                </div>

                <hr />
                @* تاریخ و خودرو *@


                <div class="col-12 d-flex px-3 align-items-center">

                    <div class="col-4 d-flex flex-column align-items-center">

                        <small>
                            <i class="ti ti-calendar-event"></i>
                            تاریخ سفر
                        </small>

                        <div class="d-flex mt-1" style="justify-content: space-between;">
                            @{
                                var pdate = new Application.Services.PersianDate(trip.startingDateTime);
                            }

                            <div>
                                <span class="text-blck fs-5">
                                    @pdate.Day
                                    @monthName[pdate.Month]
                                </span>
                                <span class="fs-5 ms-1">
                                    @pdate.DayOfWeek
                                </span>

                            </div>
                        </div>
                        <div>
                            @pdate.ToShortDateString()
                        </div>
                    </div>


                    <div class="col-4 d-flex flex-column align-items-center">
                        <small>
                            <i class="ti ti-clock"></i>
                            ساعت
                        </small>

                        <span class="text-blck fs-5 mt-1">
                            @trip.startingDateTime.ToString("HH:mm")
                            @{
                                if (trip.startingDateTime.Hour >= 0 && trip.startingDateTime.Hour <= 11)
                                {
                                    <small>(صبح)</small>
                                }

                                else if (trip.startingDateTime.Hour >= 12 && trip.startingDateTime.Hour < 15)
                                {
                                    <small>(ظهر)</small>
                                }

                                else if (trip.startingDateTime.Hour >= 15 && trip.startingDateTime.Hour <= 19)
                                {
                                    <small>(بعداز ظهر)</small>
                                }

                                else
                                {
                                    <small>(شب)</small>

                                }

                            }
                        </span>
                    </div>

                    <div class="col-4 d-flex flex-column align-items-center">
                        <small>
                            <i class="ti ti-car"></i>
                            خودرو
                            @if (trip.taxiSupervisorID == 7)
                            {
                                <img src="/vip_badge.png" style="height:27px;">
                            }
                        </small>

                        <span class="text-blck fs-5">
                            <div class="d-flex mt-1" style="justify-content: space-between; font-size: 1rem;">
                                <span>
                                    <span class="text-blck badge bg-label-primary rounded-pill carmodel">
                                        @trip.carModelName
                                    </span>
                                </span>
                            </div>
                        </span>
                    </div>

                </div>
                <hr />

                <div class="mt-2">

                    <h3 class="mb-0">اطلاعات مسافر</h3>
                    <small>سرپرست مسافرین</small>
                    <div class="p-3 mt-0">
                        <div class="row">
                            @* <div class="col-2">
                            @{
                            if (ticket.Gender == "male")
                            {
                            <img src="/male.png" height="60px" />
                            }
                            else
                            {
                            <img src="/female.png" height="60px" />
                            }
                            }
                            </div> *@
                            <div class="col-12 row mt-3 px-md-5">
                                <div class="col-3">
                                    <small class="text-muted d-block">نام</small>
                                    <label class="fs-6 d-inline">
                                        @{
                                            if (ticket.Gender == "male")
                                            {
                                                @:جناب آقای
                                            }
                                            else
                                            {
                                                @:سرکار خانم
                                            }
                                        }
                                    </label>
                                    <h5 class="d-inline">
                                        @ticket.Firstname
                                    </h5>
                                </div>

                                <div class="col-3">
                                    <small class="text-muted d-block">نام خانوادگی</small>
                                    <h5 class="d-inline">
                                        @ticket.Lastname
                                    </h5>
                                </div>


                                <div class="col-3">
                                    <small class="text-muted d-block">کد ملی</small>
                                    <h5 class="d-inline">
                                        @ticket.NaCode
                                    </h5>
                                </div>

                                <div class="col-3 d-flex align-items-center">
                                    <div>

                                        <small class="text-muted d-block">
                                            شماره تلفن همراه
                                        </small>

                                        <h5 class="d-inline text-center" id="numberphone_display">
                                            @ticket.PhoneNumber
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2 px-0">

                                <small style="font-size: .7rem;" class="text-muted d-block">
                                    <i class="ti ti-info-circle ti-sm"></i>
                                    پس از ثبت سفر، مکان دقیق مبدا و مقصد توسط

                                    <strong>
                                        مسترشوفر
                                    </strong>

                                    با شما هماهنگ خواهد شد
                                </small>
                                <small style="font-size: .7rem;" class="text-muted d-block">
                                    <i class="ti ti-info-circle ti-sm"></i>
                                    هماهنگی به منظور شروع سفر، با شماره تلفن ثبت شده انجام خواهد گرفت
                                </small>
                                <small style="font-size: .7rem;" class="text-muted d-block">
                                    <i class="ti ti-info-circle ti-sm"></i>
                                    کیفیت انجام سفر و رضایت مشتری‌، توسط مسترشوفر بعد از هر سفر با نظر مسافر، ارزیابی خواهد شد
                                </small>

                                <small style="font-size: .7rem;" class="text-muted d-block">
                                    <i class="ti ti-info-circle ti-sm"></i>
                                    بنا بر قوانین سازمان راهداری و حمل‌ونقل جاده‌ای، نهایت ظرفیت مسافرین خودروی تاکسی بین شهری 3 نفر می‌باشد
                                </small>
                                <small style="font-size: .7rem;" class="text-muted d-block">
                                    <i class="ti ti-info-circle ti-sm"></i>
                                    در صورت وجود مبدا یا مقصد اضافه، جزییات و هزینه‌ی کیلومتر اضافی، توسط همکاران مسترشوفر با مسافر هماهنگ می‌شود
                                </small>
                            </div>

                            <span>
                                <label class="text-blck mt-2 mb-0 ">قوانین کنسلی</label>
                            </span>

                            <small style="line-height:1.2rem !important; ">
                                تا یک ساعت بعد از خرید سفر در صورت کنسل کردن آن توسط مسافر گرامی، شامل هیچگونه جریمه
                                <strong>
                                  نمی‌شود.
                                </strong>
                                در غیر این صورت،
                            </small>

                            <div class="ms-1 text-muted">

                                <small style="font-size: .7rem;" class="d-flex">تا 24 ساعت مانده به سفر  15 درصد  </small>
                                <small style="font-size: .7rem;"  class="d-flex">تا 4 ساعت قبل سفر 30 درصد  </small>
                                <small style="font-size: .7rem;" class="d-flex">4 ساعت قبل و پس از آن 70 درصد</small>


                            </div>
                        </div>
                    </div>
                </div>


               

            </div>
        </div>

        <div class="col-12 mt-1">

            <div class="row px-2">

               

                <div class="col-12 mb-0 mt-2">
                    در صورت نیاز، می‌توانید برای هماهنگی و پشتیبانی با شماره تلفن
                    <a class="d-inline" href="tel:+989338558294">09338558294</a>
                    تماس حاصل فرمایید
                </div>

                <div class="col-12 mb-0">
                    انتقادات و پیشنهادات
                    <a class="d-inline" href="mailto:support@mrshoofer.ir">support@mrshoofer.ir</a>
                </div>
                <div class="col-12 mb-0">
                    <strong>
                        مسترشوفر
                    </strong>
                    ارائه دهنده‌ی سفرهای بین شهری، همیشه و هر مسیری
                </div>


                <div class="d-flex justify-content-between">

                <p>
                    سفر خوشی را برای شما آرزومندیم
                </p>

                    <img src="/logo_full_b.png" height="40px" />
                </div>
            </div>
        </div>
    </div>

</div>



