@{
    Layout = "_HorizontalLayout";
    ViewData["title"] = "ثبت موفقیت آمیز";

    var trip = (Application.Services.MrShooferORS.SearchedTrip)ViewBag.trip;

    var ticket = (Ticket)ViewBag.ticket;

    Dictionary<int, string> monthName = new Dictionary<int, string>()
    {
    {1,"فروردین" },
    {2,"اردیبهشت"},
    {3, "خرداد"},
    {4, "تیر" },
    {5,"مرداد"},
    {6, "شهریور" },
    {7, "مهر" },
    {8, "آبان" },
    {9, "آذر" },
    {10, "دی" },
    {11, "بهمن" },
    {12, "اسفند" }
    };

}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/animate-css/animate.css">
    <link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.css" />

    <link rel="stylesheet" href="~/vendor/libs/sweetalert2/sweetalert2.css" />
    <link rel="stylesheet" href="~/vendor/libs/animate-css/animate.css" />

}
@section PageScripts {
    <script src="~/js/extended-ui-sweetalert2.js"></script>
}

@section VendorScripts {
}

    <script src="~/vendor/libs/sweetalert2/sweetalert2.js"></script>

<script>
    Swal.fire({
        title: 'سفر ثبت شد',
        text: 'سفر سواری با موفقیت ثبت شد و پرداخت از طریق اعتبار آژانس پرداخت انجام گرفت همچنین پیام حاوی لینک بلیط به مسافر ارسال گردید',
        confirmButtonText: 'متوجه شدم',
        icon: 'success',
        customClass: {
            confirmButton: 'btn btn-primary waves-effect waves-light'
        },
        buttonsStyling: false
    });
</script>


<style>
    .validation-message {
        margin-top: .45rem;
        font-size: .8rem;
    }

    .success-payment {
        background-color: RGBA(var(--bs-success-rgb), .25) !important;
    }

    .not_enough_payment {
        background-color: RGBA(var(--bs-secondary-rgb), .25) !important;
    }

    .form-control {
        font-size: 1.07rem;
    }

    .form-check-label {
        padding-top: .42em !important;
        padding-bottom: .42em !important;
    }

    .border-divider, .border-gray-75 {
        --tw-border-opacity: 1;
        border-color: rgb(230 232 238 / var(--tw-border-opacity));
    }

    .input-forms {
        --bs-gutter-x: 0 !important;
        --bs-gutter-y: 0;
    }

    .border-1 {
        border-width: .063rem;
    }

    .rounded-5 {
        border-radius: 1.25rem;
    }

    .bg-white {
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    }

    .shadow-7\.5__13__5__gray30 {
        --tw-shadow: 0 1.875rem 3.125rem 1.25rem hsla(0,0%,95%,.3);
        --tw-shadow-colored: 0 1.875rem 3.125rem 1.25rem var(--tw-shadow-color);
    }

    .shadow-1__4\.5__black\/8, .shadow-7\.5__13__5__gray30 {
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }

    .headline {
        justify-content: space-between;
    }

    *, :after, :before {
        box-sizing: border-box;
        border: 0 solid #a0a0b3;
    }

    .font-bold {
        font-weight: 700;
    }

    .text-blck {
        --tw-text-opacity: 1;
        color: rgb(41 38 61 / var(--tw-text-opacity));
    }

    .text-white {
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
    }

    .bg-divider {
        --tw-bg-opacity: 1;
        background-color: rgb(230 232 238 / var(--tw-bg-opacity));
        height: .063rem;
        flex: 1 1;
    }

    .steps {
        justify-content: space-between;
    }

    .step-container {
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex: 1 1;
    }


    .step {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .step-title {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .selected {
        color: #7367f0;
    }


    @@media only screen and (min-width: 960px) {
        .px-lg-6 {
            padding-right: 2.6rem !important;
            padding-left: 2.6rem !important;
        }
    }

    @@media only screen and (min-width: 1200px) {
        .px-lg-6 {
            padding-right: 8.8rem !important;
            padding-left: 8.8rem !important;
        }
    }


    .shadow-1__2__gray\/75, .shadow-1__6__gray\/75 {
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }

    .shadow-1__2__gray\/75 {
        --tw-shadow: 0px 2px 8px 0px rgba(38,50,80,.07);
        --tw-shadow-colored: 0px 2px 8px 0px var(--tw-shadow-color);
    }

    .px-14 {
        padding-left: 3.2rem;
        padding-right: 3.2rem;
    }

    .py-7\.5 {
        padding-top: 1.175rem;
        padding-bottom: 1.175rem;
    }

    .bg-white {
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    }

    .border-divider, .border-gray-75 {
        --tw-border-opacity: 1;
        border-color: rgb(230 232 238 / var(--tw-border-opacity));
    }

    .border-1 {
        border-width: .063rem;
    }

    .rounded-3xl {
        border-radius: 1.5rem;
    }

    .rounded-5 {
        border-radius: 1.25rem;
    }

    .w-full {
        width: 100%;
    }
</style>



<div class="main_container px-lg-6 px-0">
    <div class="bg-white rounded-5 border-1 border-divider w-full rounded-3xl py-7.5 px-14 shadow-1__2__gray/75 ">

        <div class="d-flex steps">
            <div class="step-container">
                <div class="step">
                    <i class="ti ti-checks ti-lg px-4 d:pb-4 text-success"></i>

                    @* <img src="/ok.png" height="40px;" /> *@
                    <span class="pt-1 step-title">
                        اطلاعات مسافر
                    </span>
                </div>
                <div class="h-[0.063rem] flex-1  bg-divider"></div>
            </div>

            <div class="step-container">
                <div class="step">
                    <i class="ti ti-checks ti-lg px-4 d:pb-4 text-success"></i>
                    <span class="pt-1 step-title ">
                        رزور و تایید
                    </span>
                </div>
                <div class="h-[0.063rem] flex-1  bg-divider"></div>
            </div>

            <div class="step-container">
                <div class="step">
                    <i class="ti ti-checks ti-lg px-4 d:pb-4 text-success"></i>
                    <span class="pt-1 step-title">
                        پرداخت
                    </span>
                </div>
                <div class="h-[0.063rem] flex-1  bg-divider"></div>
            </div>

            <div class="step-container selected" style="flex: none;">
                <div class="step">
                    <i class="ti ti-ticket ti-lg px-4 d:pb-4 text-danger"></i>
                    <span class="pt-1 step-title">
                        صدور
                    </span>
                </div>
            </div>
        </div>

    </div>

    <div class="downside-contaner mt-5 row px-lg-5">
        <div class="mb-0 px-0 d-flex row">


            <div class="col-3 d-flex justify-content-start">
            </div>

            <div class="d-flex col-6" style="flex-direction: column; align-items: center;">
                <span class="fs-3 ms-1 font-bold d-block" style="line-height: 2rem; --tw-text-opacity: 1; color: rgb(41 38 61 / var(--tw-text-opacity));">ثـبت موفقیت آمیز</span>
                <small class="">سفر با موفقیت ثبت شد</small>
            </div>

            <div class="col-3 d-flex justify-content-end">
              <div>

                    <button class="btn rounded-pill btn-icon btn-label-secondary waves-effect" type="button">
                    <span class="ti ti-share-2"></span>
                </button>
                <button class="btn rounded-pill btn-icon btn-label-primary " type="button">
                    <span class="ti ti-printer"></span>
                </button>
                <button class="btn rounded-pill btn-icon btn-secondary " type="button">
                    <span class="ti ti-home"></span>
                </button>

            </div>
              </div>
        </div>


        <div class="alert alert-warning d-flex align-items-center mt-3 alert-dismissible" role="alert">
            <span class="alert-icon text-primary me-2">
                <i class="ti ti-message"></i>
            </span>
            پیامکی حاوی لینک اطلاعات سفر و جزییات، به شماره تلفن

            مسافر (@ticket.PhoneNumber) ارسال شد 

            <button aria-label="بستن" class="btn-close" data-bs-dismiss="alert" type="button"></button>
        </div>

        <div class="col-12">

         
            <div class="card rounded-5 p-3 col-12 mt-4">

                <div class="headline d-flex justify-between">
                    <span class="badge bg-dark rounded-pill py-2" style="font-size: .875rem!important">
                        @trip.taxiSupervisorName
                    </span>
                    <div class="capacity badge bg-label-secondary rounded-pill">
                        <i class="ti ti-armchair-2 d-inline"></i>
                        |
                        @* <span class="badge bg-label-danger">دربتسی</span> *@
                        <small class="text-danger ms-1 d-inline t-bold">دربستی</small>
                    </div>
                </div>


                <div class="d-flex justify-content-around mt-3">
                    <span>
                      <strong>
                        رفرنس : @ticket.TicketCode
                      </strong>
                    </span>

                    <span>

                        کد سفر : @ticket.Tripcode
                    </span>
                </div>

                @* مبدا و مقصد *@

                <div class="mx-lg-5 px-lg-5 mt-2">


                <div class="mt pt-3 col-12 d-flex px-md-5 px-1 m-2" style="justify-content: space-between;">
                    <span>
                        <small class="d-block ms-1 ">
                            <img src="/redpin.png" height="18px;" />
                            مبدا
                        </small>
                        <span class="text-blck fs-4 text-bold fw-bold">
                            @trip.originCityName
                        </span>
                        <small>
                            @trip.oringinLocationName
                        </small>
                    </span>

                    <span style="align-self: end;" class="mb-1">
                        <span>
                            ......
                        </span>
                        <img src="/taxi.png" height="40px" />
                        <span>
                            ......
                        </span>
                    </span>

                    <span>
                        <small class="d-block ms-1">
                            <img src="/redpin.png" height="18px;" />
                            مقصد
                        </small>
                            <span class="text-blck fs-4 text-bold fw-bold">
                            @trip.destinationCityName
                        </span>
                        <small>
                            @trip.destinationLocationName
                        </small>
                    </span>
                </div>
                </div>

                <hr />
                @* تاریخ و خودرو *@


                <div class="col-12 d-flex px-3 align-items-center">

                    <div class="col-4 d-flex flex-column align-items-center">

                        <small>
                            <i class="ti ti-calendar-event"></i>
                            تاریخ سفر
                        </small>

                        <div class="d-flex mt-1" style="justify-content: space-between;">
                            @{
                                var pdate = new Application.Services.PersianDate(trip.startingDateTime);
                            }

                            <div>
                                <span class="text-blck fs-5">
                                    @pdate.Day
                                    @monthName[pdate.Month]
                                </span>
                                <span class="fs-5 ms-1">
                                    @pdate.DayOfWeek
                                </span>

                            </div>
                        </div>
                        <div>
                          @pdate.ToShortDateString()
                        </div>
                    </div>


                    <div class="col-4 d-flex flex-column align-items-center">
                        <small>
                            <i class="ti ti-clock"></i>
                            ساعت
                        </small>

                        <span class="text-blck fs-5 mt-1">
                            @trip.startingDateTime.ToString("HH:mm")
                            @{
                                if (trip.startingDateTime.Hour >= 0 && trip.startingDateTime.Hour <= 11)
                                {
                                    <small>(صبح)</small>
                                }

                                else if (trip.startingDateTime.Hour >= 12 && trip.startingDateTime.Hour < 15)
                                {
                                    <small>(ظهر)</small>
                                }

                                else if (trip.startingDateTime.Hour >= 15 && trip.startingDateTime.Hour <= 19)
                                {
                                    <small>(بعداز ظهر)</small>
                                }

                                else
                                {
                                    <small>(شب)</small>

                                }

                            }
                        </span>
                    </div>

                    <div class="col-4 d-flex flex-column align-items-center">
                        <small>
                            <i class="ti ti-car"></i>
                            خودرو
                            @if (trip.taxiSupervisorID == 7)
                            {
                                <img src="/vip_badge.png" style="height:27px;">
                            }
                        </small>

                        <span class="text-blck fs-5">
                            <div class="d-flex mt-1" style="justify-content: space-between; font-size: 1rem;">
                                <span>
                                    <span class="text-blck badge bg-label-primary rounded-pill carmodel">
                                        @trip.carModelName
                                    </span>
                                </span>
                            </div>
                        </span>
                    </div>

                </div>
                <hr />

                <div class="ms-4 mt-3">

                    <h3 class="mb-0">اطلاعات مسافر</h3>
                <small>سرپرست مسافرین</small>
                    <div class=" p-3 mt-0">
                        <div class="row">
                            @* <div class="col-2">
                                @{
                                    if (ticket.Gender == "male")
                                    {
                                        <img src="/male.png" height="60px" />
                                    }
                                    else
                                    {
                                        <img src="/female.png" height="60px" />
                                    }
                                }
                            </div> *@
                            <div class="col-12 d-flex justify-content-around mt-3 px-md-5">
                                <div class="col-3">
                                    <small class="text-muted d-block">نام</small>
                                    <label class="fs-6 d-inline">
                                        @{
                                            if (ticket.Gender == "male")
                                            {
                                                @:آقای
                                            }
                                            else
                                            {
                                                @:خانم
                                            }
                                        }
                                    </label>
                                    <h5 class="d-inline">
                                        @ticket.Firstname
                                    </h5>
                                </div>

                                <div class="col-3">
                                    <small class="text-muted d-block">نام خانوادگی</small>
                                    <h5 class="d-inline">
                                        @ticket.Lastname
                                    </h5>
                                </div>


                                <div class="col-3">
                                    <small class="text-muted d-block">کد ملی</small>
                                    <h5 class="d-inline">
                                        @ticket.NaCode
                                    </h5>
                                </div>

                                <div class="col-3 d-flex align-items-center">
                                    <div>

                                        <small class="text-muted d-block">
                                            شماره تلفن همراه
                                        </small>

                                        <h5 class="d-inline text-center" id="numberphone_display">
                                            @ticket.PhoneNumber
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5">

                            <small style="font-size: .7rem;" class="text-muted d-block">
                                <i class="ti ti-info-circle ti-sm"></i>
                                هماهنگی به منظور شروع سفر، با شماره تلفن مسافر انجام می‌گردد
                            </small><small style="font-size: .7rem;" class="text-muted d-block">
                                <i class="ti ti-info-circle ti-sm"></i>
                                مسافر بعد از ثبت موفقیت آمیر سفر، پیامی حاوی لینک بلیط و جزییات سفر دریافت می‌کند
                            </small>
                                <small style="font-size: .7rem;" class="text-muted d-block">
                                    <i class="ti ti-info-circle ti-sm"></i>
                                    کیفیت انجام سفر و رضایت مشتری‌، توسط مسترشوفر بعد از هر سفر با نظر مسافر، ارزیابی خواهد شد
                                </small>


                                <small style="font-size: .7rem;" class="text-muted d-block">
                                    <i class="ti ti-info-circle ti-sm"></i>
                                    این سفر و جزییات باقی سفرهای ثبت شده، در صفحه‌ی بلیط های آژانس قابل مشاهده می‌باشد
                                </small>

                                <small style="font-size: .7rem;" class="text-muted d-block">
                                <i class="ti ti-info-circle ti-sm"></i>
                                    بنا بر قوانین سازمان راهداری و حمل‌ونقل جاده‌ای، نهایت ظرفیت مسافرین خودروی تاکسی بین شهری 3 نفر می‌باشد
                            </small>
                                <small style="font-size: .7rem;" class="text-muted d-block">
                                    <i class="ti ti-info-circle ti-sm"></i>
                                    در صورت وجود مبدا یا مقصد اضافه، جزییات و هزینه‌ی کیلومتر ماضاف، توسط همکاران مسترشوفر با مسافر هماهنگ می‌شود
                                </small>
                            </div>

                            <span>
                                <h6 class="text-blck mt-4">قوانین کنسلی</h6>
                            </span>
                            <p style="line-height:1.2rem !important; ">
                                در صورت خرید سفر، و کنسل کردن سفر از طرف مسافر، تا 1 ساعت بعد از
                                ثبت سفر کنسلی
                                بدون جریمه
                                انجام می‌شود در غیر این صورت؛
                            </p>

                            <div class="ms-1 text-muted">

                                <small class="d-flex">تا 24 ساعت مانده به سفر  15 درصد  </small>
                                <small class="d-flex">تا 4 ساعت قبل سفر 30 درصد  </small>
                                <small class="d-flex">3 ساعت قبل سفر به بعد 70 درصد</small>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12 mt-5 px-md-4 px-lg-5 pt-2 pb-3">
                    <div class="mt-2 d-flex" style="justify-content: space-between;">
                        <div>

                            <h4 style="align-self:end;" class="mb-1">
                                قیمت نهایی سفر

                            </h4>
                            @* <small style="font-size: .7rem;" class="text-muted d-block">
                                <i class="ti ti-info-circle ti-sm"></i>
                             قوانین کنسلی در انتهای همین صفحه درج شده است.
                            </small> *@

                        </div>
                        <div>

                            @if (trip.afterdiscticketprice != trip.originalTicketprice)
                            {
                                <div class="text-end mb-0">
                                    <h5 class="text-black mb-0">
                                        <s>
                                            <bdi>
                                                <svg class="toman">
                                                    <use xlink:href="#toman">
                                                        <symbol id="toman" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                                                            <path clip-rule="evenodd" d="M3.057 1.742L3.821 1l.78.75-.776.741-.768-.749zm3.23 2.48c0 .622-.16 1.111-.478 1.467-.201.221-.462.39-.783.505a3.251 3.251 0 01-1.083.163h-.555c-.421 0-.801-.074-1.139-.223a2.045 2.045 0 01-.9-.738A2.238 2.238 0 011 4.148c0-.059.001-.117.004-.176.03-.55.204-1.158.525-1.827l1.095.484c-.257.532-.397 1-.419 1.403-.002.04-.004.08-.004.12 0 .252.055.458.166.618a.887.887 0 00.5.354c.085.028.178.048.278.06.079.01.16.014.243.014h.555c.458 0 .769-.081.933-.244.14-.139.21-.383.21-.731V2.02h1.2v2.202zm5.433 3.184l-.72-.7.709-.706.735.707-.724.7zm-2.856.308c.542 0 .973.19 1.293.569.297.346.445.777.445 1.293v.364h.18v-.004h.41c.221 0 .377-.028.467-.084.093-.055.14-.14.14-.258v-.069c.004-.243.017-1.044 0-1.115L13 8.05v1.574a1.4 1.4 0 01-.287.863c-.306.405-.804.607-1.495.607h-.627c-.061.733-.434 1.257-1.117 1.573-.267.122-.58.21-.937.265a5.845 5.845 0 01-.914.067v-1.159c.612 0 1.072-.082 1.38-.247.25-.132.376-.298.376-.499h-.515c-.436 0-.807-.113-1.113-.339-.367-.273-.55-.667-.55-1.18 0-.488.122-.901.367-1.24.296-.415.728-.622 1.296-.622zm.533 2.226v-.364c0-.217-.048-.389-.143-.516a.464.464 0 00-.39-.187.478.478 0 00-.396.187.705.705 0 00-.136.449.65.65 0 00.003.067c.008.125.066.22.177.283.093.054.21.08.352.08h.533zM9.5 6.707l.72.7.724-.7L10.209 6l-.709.707zm-6.694 4.888h.03c.433-.01.745-.106.937-.29.024.012.065.035.12.068l.074.039.081.042c.135.073.261.133.379.18.345.146.67.22.977.22a1.216 1.216 0 00.87-.34c.3-.285.449-.714.449-1.286a2.19 2.19 0 00-.335-1.145c-.299-.457-.732-.685-1.3-.685-.502 0-.916.192-1.242.575-.113.132-.21.284-.294.456-.032.062-.06.125-.084.191a.504.504 0 00-.03.078 1.67 1.67 0 00-.022.06c-.103.309-.171.485-.205.53-.072.09-.214.14-.427.147-.123-.005-.209-.03-.256-.076-.057-.054-.085-.153-.085-.297V7l-1.201-.5v3.562c0 .261.048.496.143.703.071.158.168.296.29.413.123.118.266.211.43.28.198.084.42.13.665.136v.001h.036zm2.752-1.014a.778.778 0 00.044-.353.868.868 0 00-.165-.47c-.1-.134-.217-.201-.35-.201-.18 0-.33.103-.447.31-.042.071-.08.158-.114.262a2.434 2.434 0 00-.04.12l-.015.053-.015.046c.142.118.323.216.544.293.18.062.325.092.433.092.044 0 .086-.05.125-.152z" fill-rule="evenodd"></path>
                                                        </symbol>
                                                    </use>
                                                </svg>@trip.originalTicketprice.ToString("N0")
                                            </bdi>
                                        </s>
                                    </h5>
                                </div>
                            }


                            <h4 class="text-primary mb-1 text-end">
                                <bdi>
                                    <svg class="toman">
                                        <use xlink:href="#toman">
                                            <symbol id="toman" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                                                <path clip-rule="evenodd" d="M3.057 1.742L3.821 1l.78.75-.776.741-.768-.749zm3.23 2.48c0 .622-.16 1.111-.478 1.467-.201.221-.462.39-.783.505a3.251 3.251 0 01-1.083.163h-.555c-.421 0-.801-.074-1.139-.223a2.045 2.045 0 01-.9-.738A2.238 2.238 0 011 4.148c0-.059.001-.117.004-.176.03-.55.204-1.158.525-1.827l1.095.484c-.257.532-.397 1-.419 1.403-.002.04-.004.08-.004.12 0 .252.055.458.166.618a.887.887 0 00.5.354c.085.028.178.048.278.06.079.01.16.014.243.014h.555c.458 0 .769-.081.933-.244.14-.139.21-.383.21-.731V2.02h1.2v2.202zm5.433 3.184l-.72-.7.709-.706.735.707-.724.7zm-2.856.308c.542 0 .973.19 1.293.569.297.346.445.777.445 1.293v.364h.18v-.004h.41c.221 0 .377-.028.467-.084.093-.055.14-.14.14-.258v-.069c.004-.243.017-1.044 0-1.115L13 8.05v1.574a1.4 1.4 0 01-.287.863c-.306.405-.804.607-1.495.607h-.627c-.061.733-.434 1.257-1.117 1.573-.267.122-.58.21-.937.265a5.845 5.845 0 01-.914.067v-1.159c.612 0 1.072-.082 1.38-.247.25-.132.376-.298.376-.499h-.515c-.436 0-.807-.113-1.113-.339-.367-.273-.55-.667-.55-1.18 0-.488.122-.901.367-1.24.296-.415.728-.622 1.296-.622zm.533 2.226v-.364c0-.217-.048-.389-.143-.516a.464.464 0 00-.39-.187.478.478 0 00-.396.187.705.705 0 00-.136.449.65.65 0 00.003.067c.008.125.066.22.177.283.093.054.21.08.352.08h.533zM9.5 6.707l.72.7.724-.7L10.209 6l-.709.707zm-6.694 4.888h.03c.433-.01.745-.106.937-.29.024.012.065.035.12.068l.074.039.081.042c.135.073.261.133.379.18.345.146.67.22.977.22a1.216 1.216 0 00.87-.34c.3-.285.449-.714.449-1.286a2.19 2.19 0 00-.335-1.145c-.299-.457-.732-.685-1.3-.685-.502 0-.916.192-1.242.575-.113.132-.21.284-.294.456-.032.062-.06.125-.084.191a.504.504 0 00-.03.078 1.67 1.67 0 00-.022.06c-.103.309-.171.485-.205.53-.072.09-.214.14-.427.147-.123-.005-.209-.03-.256-.076-.057-.054-.085-.153-.085-.297V7l-1.201-.5v3.562c0 .261.048.496.143.703.071.158.168.296.29.413.123.118.266.211.43.28.198.084.42.13.665.136v.001h.036zm2.752-1.014a.778.778 0 00.044-.353.868.868 0 00-.165-.47c-.1-.134-.217-.201-.35-.201-.18 0-.33.103-.447.31-.042.071-.08.158-.114.262a2.434 2.434 0 00-.04.12l-.015.053-.015.046c.142.118.323.216.544.293.18.062.325.092.433.092.044 0 .086-.05.125-.152z" fill-rule="evenodd"></path>
                                            </symbol>
                                        </use>
                                    </svg>@trip.afterdiscticketprice.ToString("N0")
                                </bdi>
                            </h4>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="col-12 mt-4">
            
            <div class="row">

                <div class="col-12">
                    <p class="text-muted" style="line-height: 1.3rem !important; font-size: .8rem !important;">
                        <img src="/location.png" height="22px;" />
                        پس از ثبت و تایید بلیط، مکان دقیق مقصد و مبدا توسط

                        <strong>
                            مسترشوفر
                        </strong>

                        با مسافر هماهنگ خواهد شد.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>



