@model List<Application.Services.MrShooferORS.SearchedTrip>

@{

    Layout = "_FrontLayout";

    ViewData["title"] = "جستجوی سواری";
}



@section PageStyles{

}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.css" />
    <link rel="stylesheet" href="~/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css" />
    <link rel="stylesheet" href="~/vendor/libs/jquery-timepicker/jquery-timepicker.css" />
    <link rel="stylesheet" href="~/vendor/libs/pickr/pickr-themes.css" />
    <link href="~/vendor/css/pages/front-page-landing.css" rel="stylesheet" />

	<link href="~/css/TaxiTripsIndex.css" rel="stylesheet" />
    
}
@section VendorScripts {
    <script src="~/libs/jquery.js"></script>
    <script src="~/vendor/libs/jdate/jdate.min.js"></script>
    <script src="~/vendor/libs/flatpickr/flatpickr-jdate.js"></script>
    <script src="~/vendor/libs/flatpickr/l10n/fa.js"></script>
    <script src="~/vendor/js/dropdown-hover.js"></script>
    <script src="~/vendor/js/dropdown-hover.js"></script>

}
@section PageScripts {
    <script src="~/js/cards-actions.js"></script>

    <script src="~/js/front-page-landing.js"></script>
    <script src="~/js/forms-pickers-jalali.js"></script>
    <script src="~/js/searchpage.js"></script>

	<script src="~/js/IndexPage.js"> </script>


}



<style>
    .daytext {
        text-align: center;
    }

    .tripday {
        align-items: stretch;
        border-radius: 8px !important;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        justify-content: center;
        margin: 0 6px;
        padding: 0 4px;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        /* width: 88px; */
    }

    .switchbar-container {
        display: flex;
        align-items: center;
        display: flex;
        max-width: 100%;
        flex-direction: row !important;
    }

    .scroll_button {
        padding: 8px;
        width: 48px;
    }

    .timelline-container {
        align-items: center;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        padding-bottom: 8px;
        scrollbar-width: none;
        display: flex;
    }

    .scroll_button {
        background: none;
        border: none;
        color: inherit;
        cursor: pointer;
        outline: none;
        align-self: stretch;
    }
</style>

<style>


    @@media only screen and (min-width: 960px) {
        .px-lg-6 {
            padding-right: 2.6rem !important;
            padding-left: 2.6rem !important;
        }
    }

    @@media only screen and (min-width: 1200px) {
        .px-lg-6 {
            padding-right: 8rem !important;
            padding-left: 8rem !important;
        }
    }





</style>
<style>
    .submitation {
        max-width: 160px;
        flex: 1;
    }

    .direction-container {
    }

    .transport {
        flex-grow: 3;
        max-width: 300px;
    }

    .trip-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    @@media only screen and (max-width: 600px) {
        .trip-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .provider h5 {
            font-size: initial;
        }

        .starttime, .endtime {
            font-size: 1.1rem !important;
        }

        .transport {
            padding-left: 1.5rem;
            padding-right: 1.2rem;
            margin: 0 !important;
        }

        .submitation {
            flex-direction: row !important;
            max-width: unset !important;
            justify-content: space-between !important;
            padding-left: 1rem;
        }
    }

    .transport {
        margin-right: 3.6rem;
    }

    .fa-taxiSide {
        height: 1.2em;
    }

    .price {
        color: #0b5fb3;
        font-size: 20px;
        font-style: normal;
        font-variation-settings: "wght" 700;
        font-weight: 700;
        text-align: right;
    }

    .orgprice {
        color: #8d99a6;
        font-size: 15px;
        font-style: normal;
        font-variation-settings: "wght" 500;
        font-weight: 500;
        text-align: right;
        text-decoration: line-through;
    }

    .logo-image {
        height: 40px;
        -o-object-fit: contain;
        object-fit: contain;
        width: 40px;
    }


    .leftside {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .directionval {
        font-weight: 400;
        font-size: 14px;
        font-style: normal;
        font-variation-settings: "wght" 400;
        font-weight: 400;
        line-height: 28px;
    }


    .mainbody {
        display: flex;
        justify-content: space-between;
    }

    .provider {
        text-align: center;
    }

    .starttime, .endtime {
        font-size: 1.7rem;
    }

    .tripcardheader {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    .carmodel {
        color: black !important;
    }

    .direction-container {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

	.landing-hero {
		background-color: hsla(213.08823529411762, 0%, 93%, 1) !important;
		background-image: radial-gradient(circle at 83% 22%, hsla(35.735294117647136, 82%, 87%, 1) 0%, transparent 50%), radial-gradient(circle at 0% 50%, hsla(194.5588235294118, 37%, 91%, 1) 0%, transparent 50%), radial-gradient(circle at 21% 21%, hsla(27.999999999999577, 0%, 86%, 1) 0%, transparent 50%), radial-gradient(circle at 54% 77%, hsla(193.2352941176474, 100%, 95%, 1) 0%, transparent 50%), radial-gradient(circle at 30% 75%, hsla(197.87234042553195, 25%, 35%, 1) 0%, transparent 20%) !important;
		background-blend-mode: normal, normal, normal, normal, normal !important;
	}
</style>


<div class="landing-hero px-lg-5 px-0 px-lg-5 mx-lg-4 pb-md-3" style="padding-top: 7.5rem !important;">
	<div class="container px-lg-6 px-0">

	<div class="searchbar card shadow" style="">

		<div class="row">
			<div class="col-lg-2 col-0"></div>
			<div class="row col-12 col-lg-8 p-0">
				<div class="px-4 px-md-0 pe-0">
					<form asp-controller="TaxiTrips" method="get" asp-action="Index">
						<div class="card-body row p-4 pt-md-2">
							<div class="col-md-3 col-6 inputcel">

								<small class="ms-3">مبدا</small>
								<div class="input-container">
									<input name="originstring" autocomplete="off" aria-describedby="defaultFormControlHelp" value="@ViewBag.origin_city_text" data-bs-toggle="dropdown" class="form-control origin input-field dropdown-toggle" id="origin_input" placeholder="مبدا" type="text" role="button" style="font-weight:bold;" />
									<i class="ti ti-location mb-2 icon"></i>
									<span class="dropdown-menu dropdown-menu-end origin_location" style="inset:unset !important; min-width:230px;">

										@*  <div class="city">
										<a class="dropdown-item" href="javascript:void(0);">
										تهران
										<small class="" >
										(همه پایانه‌ها)
										</small>

										</a>

										<div class="terminals ms-3">
										<a class="dropdown-item" href="javascript:void(0);">پایانه بیهقی</a>
										<a class="dropdown-item" href="javascript:void(0);">پایانه آزادی</a>
										<a class="dropdown-item" href="javascript:void(0);">پایانه شرق</a>
										<a class="dropdown-item" href="javascript:void(0);">پایانه غرب</a>

										</div>
										</div> *@
									</span>
								</div>
								@* <div class="form-text" id="defaultFormControlHelp">شهر مبدا سفر</div> *@
							</div>

							<div class="col-md-3 col-6 inputcel">
								<small class="ms-3">مقصد</small>

								<div class="input-container">
									<input name="destinationstring" value="@ViewBag.dest_city_text" data-bs-toggle="dropdown" autocomplete="off" class="form-control destination input-field dropdown-toggle" id="destination_input" placeholder="مقصد" type="text" role="button" style="font-weight:bold;" />
									<i class="ti ti-map-pin mb-2 icon"></i>
										<span class="dropdown-menu dropdown-menu-end destination_location" style="inset:unset !important; min-width:230px;">

										@*  <div class="city">
										<a class="dropdown-item" href="javascript:void(0);">
										تهران
										<small class="" >
										(همه پایانه‌ها)
										</small>

										</a>

										<div class="terminals ms-3">
										<a class="dropdown-item" href="javascript:void(0);">پایانه بیهقی</a>
										<a class="dropdown-item" href="javascript:void(0);">پایانه آزادی</a>
										<a class="dropdown-item" href="javascript:void(0);">پایانه شرق</a>
										<a class="dropdown-item" href="javascript:void(0);">پایانه غرب</a>

										</div>
										</div> *@
									</span>

								</div>
								@* <div class="form-text" id="defaultFormControlHelp">شهر مقصد سفر</div> *@
							</div>

							<div class="col-md-3 col-sm-12 inputcel mt-2 mt-md-0">

								<small class="ms-3">تاریخ سفر</small>

								<!-- /Human Friendly Date Picker-->
								<!-- Disabled Range-->

								<div class="input-container">
										<input name="searchdate" autocomplete="off" value="@ViewBag.searchdate" class="form-control bdi starttimeselector" id="starttime" placeholder="تاریخ سفر" type="text" />
									<i class="ti ti-calendar-stats mb-2 icon pe-0"></i>
								</div>
								@* <div class="form-text" id="defaultFormControlHelp">انتخاب تاریخ</div> *@


							</div>



							<div class="col-md-3 col-12 inputcel pt-2 align-items-end mt-md-0 mt-2 d-flex justify-content-end">
								<button style="width:100%;" class="btn btn-primary waves-effect waves-light" type="submit">
									پیدا کن
									<i class="ti ti-search"></i>
								</button>
							</div>

						</div>
					</form>
				</div>
			</div>
			<div class="col-lg-2 col-0"></div>

		</div>

	</div>
	</div>
</div>






<div id="" style="padding-top: 1.7rem; background-color: none !important;" class="position-relative">
	<div class="px-lg-5 mx-lg-2">

		<div class="container">
			<div class="px-lg-6 px-0">
			
				<div class="row ">
					<div class="col-3 d-none d-md-block" style="padding-left:0.5rem !important;">
						<div class="card">
							<div class=" py-3 pe-4 ps-3" style="">
								<lable class="direction-text mt-2 fw-normal" style="font-weight: normal !important;">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" id="Car-Taxi-1--Streamline-Core" height="14" width="14"><desc>Car Taxi 1 Streamline Icon: https://streamlinehq.com</desc><g id="car-taxi-1--transportation-travel-taxi-transport-cab-car"><path id="Vector 4630" fill="#fddc5c" d="M0.625 8v2c0 0.5523 0.44772 1 1 1h10.75c0.5523 0 1 -0.4477 1 -1V8c0 -0.55228 -0.4477 -1 -1 -1H10L8.75975 4.10608C8.60217 3.7384 8.24063 3.5 7.8406 3.5H4.1594c-0.40003 0 -0.76157 0.2384 -0.91915 0.60608L2 7h-0.375c-0.55228 0 -1 0.44772 -1 1Z" stroke-width="1"></path><path id="Union" fill="#0c098c" fill-rule="evenodd" d="M6 0.875c-0.34518 0 -0.625 0.27982 -0.625 0.625v1.375H4.1594c-0.65005 0 -1.23755 0.3874 -1.49361 0.98488L1.5877 6.37542C0.707464 6.39525 0 7.115 0 8v2c0 0.8884 0.712839 1.6102 1.59772 1.6248 0.26276 0.7986 1.01466 1.3751 1.90122 1.3751 0.88648 0 1.63832 -0.5764 1.90115 -1.3749H8.5978c0.26283 0.7985 1.01467 1.3749 1.9011 1.3749 0.8866 0 1.6385 -0.5765 1.9012 -1.3751C13.286 11.6114 14 10.8891 14 10V8c0 -0.89746 -0.7275 -1.625 -1.625 -1.625h-1.9629L9.33421 3.85988C9.07815 3.26239 8.49065 2.875 7.8406 2.875H6.625V1.5c0 -0.34518 -0.27982 -0.625 -0.625 -0.625Zm-1.8406 3.25h3.6812c0.15001 0 0.28559 0.0894 0.34468 0.22728L9.42553 7.2462c0.09849 0.2298 0.32445 0.3788 0.57447 0.3788h2.375c0.2071 0 0.375 0.16789 0.375 0.375v2c0 0.1985 -0.1543 0.361 -0.3494 0.3741 -0.2625 -0.79918 -1.0147 -1.3763 -1.9017 -1.3763 -0.88728 0 -1.6397 0.57753 -1.90185 1.3772H5.40083c-0.26214 -0.79967 -1.01457 -1.3772 -1.90189 -1.3772 -0.88695 0 -1.63912 0.57705 -1.90157 1.3762 -0.1942 -0.0141 -0.34737 -0.1762 -0.34737 -0.374V8c0 -0.20711 0.16789 -0.375 0.375 -0.375H2c0.25002 0 0.47598 -0.149 0.57447 -0.3788l1.24025 -2.89392c0.05909 -0.13788 0.19467 -0.22728 0.34468 -0.22728Zm0.23495 3.5c-0.35896 0 -0.60098 -0.36703 -0.45958 -0.69696l0.58929 -1.375c0.07879 -0.18384 0.25956 -0.30304 0.45957 -0.30304h2.03272c0.20001 0 0.38078 0.1192 0.45957 0.30304l0.58929 1.375c0.1414 0.32993 -0.10062 0.69696 -0.45957 0.69696H4.39435Z" clip-rule="evenodd" stroke-width="1"></path></g></svg>
									سفرهای سواری

									<strong class="fs-5">
									@ViewBag.origin_city_text
									</strong>
									به
									<strong >
									@ViewBag.dest_city_text
									</strong>
								</lable>
								<label class="mt-1 ms-1">
									روز
									
										@(((Application.Services.PersianDate)ViewBag.searchpdate).DayOfWeek)


										<span class="ms-1">
										@(((Application.Services.PersianDate)ViewBag.searchpdate).ToShortDateString())
										</span>
								</label>
							</div>
						</div>
						<div class="card card-action mt-2">
							<div class="card-header">
								<div class="card-action-title oredring-title">ترتیب بر اساس</div>
								<div class="card-action-element">
									<ul class="list-inline mb-0">
										<li class="list-inline-item">
											<a class="card-collapsible" href="javascript:void(0);">
												<i class="tf-icons ti ti-chevron-right scaleX-n1-rtl ti-sm"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="collapse show" style="">
								<div class="card-body pt-0">
									<div class="form-check ">
										<input class="form-check-input" id="defaultRadio1" name="default-radio-1" type="radio" value="" checked>
										<label class="form-check-label" for="defaultRadio1"> پیشنهاد مسترشوفر</label>
									</div>
									<div class="form-check mt-2">
										<input class="form-check-input" id="defaultRadio1" name="default-radio-1" type="radio" value="">
										<label class="form-check-label" for="defaultRadio1"> زود ترین</label>
									</div>
									<div class="form-check mt-2">
										<input class="form-check-input" id="defaultRadio1" name="default-radio-1" type="radio" value="">
										<label class="form-check-label" for="defaultRadio1"> ارزان ترین</label>
									</div>
								</div>
							</div>

						</div>

						<div class="card card-action mt-2">
							<div class="card-header">
								<div class="card-action-title oredring-title">خودرو</div>
								<div class="card-action-element">
									<ul class="list-inline mb-0">
										<li class="list-inline-item">
											<a class="card-collapsible" href="javascript:void(0);">
												<i class="tf-icons ti ti-chevron-right scaleX-n1-rtl ti-sm"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="collapse show" style="">
								<div class="card-body pt-0">
									<div class="form-check ">
										<input class="form-check-input" id="defaultRadio1" name="default-radio-1" type="radio" value="" checked>
										<label class="form-check-label" for="defaultRadio1"> پیشنهاد مسترشوفر</label>
									</div>
									<div class="form-check mt-2">
										<input class="form-check-input" id="defaultRadio1" name="default-radio-1" type="radio" value="">
										<label class="form-check-label" for="defaultRadio1"> زود ترین</label>
									</div>
									<div class="form-check mt-2">
										<input class="form-check-input" id="defaultRadio1" name="default-radio-1" type="radio" value="">
										<label class="form-check-label" for="defaultRadio1"> ارزان ترین</label>
									</div>
								</div>
							</div>

						</div>
					</div>

					@{
						if (Model.Count == 0)
						{
							<div class="d-flex col-md-9 col-12" style="flex-direction: column; align-items: center; justify-content: start;">
								@await Html.PartialAsync("TimelinePartial", DateTime.Now)

							<label class="fs-4 fw-bold mt-4 pt-3">
							  ســفری یافت نشـد
							</label>
							<small>
							  در بازه ای که شما جست و جو کردید، سفری یافت نشد
							</small>
							</div>
						}

						else
						{
							<div class="col-12 col-md-9 px-1">


							  
								<div class="trips-container">

									@foreach (var trip in Model)

									{
										@await Html.PartialAsync("Partials/PrivateTripCardPartial", trip)
									}

								</div>
							</div>
						}
					}


					

				</div>
			</div>
		</div>
	</div>
</div>



